<header class="content__header">
  <h1>
    <ng-content select="[caption]"></ng-content>
  </h1>
  <p i18n>
    <ng-content select="[description]"></ng-content>
  </p>
  <ng-content select="[add-button]"></ng-content>
</header>
<section class="content__details">
  <h2>
    <ng-content select="[caption-inside]"></ng-content>
  </h2>
  <p i18n>
    <ng-content select="[description-inside]"></ng-content>
  </p>
  <ng-container *ngIf="error == null; else errorView">
    <div class="search">
      <span>
        <ng-content select="[search-label]"></ng-content>
      </span>
      <input data-test-generic-list-query [formControl]="queryFc" placeholder="Zacznij wpisywać szukaną nazwę a my zawęzimy wyniki" i18n-placeholder="">
    </div>
    <table data-e2e="generic-list-data-table" class="table">
      <ng-container *ngIf="!loading; else tableLoading">
        <thead>
          <tr>
            <th class="table-selection" *ngIf="selectable">
              <input type="checkbox" [formControl]="selectAllFc">
            </th>
            <ng-content select="[table-header]"></ng-content>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items; index as $index" data-e2e="entity-row">
            <td *ngIf="selectable">
              <input type="checkbox" [formControl]="itemSelectFc.controls[$index]">
            </td>
            <ng-container [ngTemplateOutlet]="tableRow" [ngTemplateOutletContext]="{item: item}"></ng-container>
          </tr>
          <tr *ngIf="items.length === 0">
            <td colspan="100%" class="table-message">Brak pasujących elementów</td>
          </tr>
        </tbody>
      </ng-container>
      <ng-template #tableLoading>
        <tbody>
        <tr>
          <td data-test="loading" colspan="4" style="text-align: center" i18n>Ładowanie...</td>
        </tr>
        </tbody>
      </ng-template>
    </table>
  </ng-container>
  <ng-template #errorView>
    <p i18n class="">Nie posiadasz uprawnień do przeglądania instytucji</p>
  </ng-template>
</section>


