div.alert.ext-message-container {
  padding: 6px;
}

div.alert.ext-message-container ul {
  list-style: none;
  padding-left: 2px;
}

div.alert.ext-message-container .nts-messages-icon {
  margin-right: 5px;
  font-size: 13px;
  margin-top: 2px;
}
