<form [formGroup]="form" class="form">
  <ul>
    <li *ngFor="let defs of (paramsDef | groupArray : 2)">
      <div class="two__columns">
        <div class="column" *ngFor="let def of defs">
          <ng-container [ngSwitch]="def.type">
            <ext-input *ngSwitchCase="'text'" [label]="def.queryParam" [required]="false"
                       [formControlName]="def.queryParam"></ext-input>
            <ext-input *ngSwitchCase="'float'" [label]="def.queryParam" [formControlName]="def.queryParam"
                       type="number" [required]="false" [tooltipText]="floatTooltip(def)"></ext-input>
            <ext-datepicker *ngSwitchCase="'datetime'" [label]="def.queryParam" [required]="false"
                            [formControlName]="def.queryParam"></ext-datepicker>
            <ext-select *ngSwitchCase="'select'" [label]="def.queryParam" [required]="false"
                        [formControlName]="def.queryParam">
              <option *ngFor="let option of selectOptions(def)" [value]="option">{{option}}</option>
            </ext-select>
          </ng-container>
        </div>
      </div>
    </li>
  </ul>
</form>
