@import "../../../../scss/variables";




.search-results {
  //position: absolute;
  display: block;
  z-index: 1000;

  width: 550px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  //z-index: 1000;
}
