<div class="form form--sentinel" *ngIf="!(loadingMetadata$ | async); else metadataLoadingRef">
  <form [formGroup]="form">
    <ul>
      <li>
        <s4e-sentinel-form [paramsDef]="(sentinels$ | async)?.common.params" [formControl]="form.get('common')"></s4e-sentinel-form>
      </li>
      <li *ngFor="let sentinel of (sentinels$ | async)?.sections">
        <s4e-sentinel-section [sentinel]="sentinel" [formControlName]="sentinel.name"></s4e-sentinel-section>
      </li>
    </ul>
    <button class="button button--primary" (click)="search()" [disabled]="(disableSearchBtn$ | async) || form.invalid">
      <fa-icon class="spinner" [hidden]="!(loading$ | async)" [icon]="['fas', 'circle-notch']" [spin]="true"></fa-icon>
      <ng-container i18n>Szukaj</ng-container>
    </button>
  </form>
</div>

<ng-template #metadataLoadingRef>
  <ng-container i18n>Metadata loading... [UI - Style it]</ng-container>
</ng-template>

<section class="section" *ngIf="!(loading$ | async); else loadingRef">
  <header class="box__header" *ngIf="(searchResults$ | async).length > 0">
    <span class="box__title" i18n>Wyniki</span>
  </header>
  <ul class="search__result">
    <li *ngFor="let result of (searchResults$ | async)">
      <div class="quick__look">
        <img *ngIf="result.image" [attr.src]="result.image">
        <!-- miejsce na obrazek (miniaturke) quick look jak jest -->
      </div>
      <ul>
        <li><strong i18n>Mission:</strong> {{result.mission}}</li>
        <li><strong i18n>Instrument:</strong>  {{result.instrument}}</li>
        <li><strong i18n>Sensing Date:</strong>  {{result.timestamp}}</li>
        <li><strong i18n>Size:</strong>  {{result.size}}</li>
      </ul>
      <a [attr.href]="result.url" target="_blank" class="download-link">Pobierz</a>
    </li>
    <li *ngIf="showNoResults$ | async" i18n>Brak wyników</li>
  </ul>
</section>

<ng-template #loadingRef>
  <div class="loading loading--results"></div>
  <div class="loading loading--results"></div>
  <div class="loading loading--results"></div>
</ng-template>


