version: '3'
services:
  s4e-backend:
    build: ./s4e-backend
    env_file:
      - ${BACKEND_ENV_PATH:-backend-development.env}
    volumes:
      - ${BACKEND_JAR_PATH:-./s4e-backend/target/s4e-backend-0.0.1-SNAPSHOT.jar}:/app/app.jar
    ports:
      - ${BACKEND_PORT:-4201}:4201
    networks:
      - net
    depends_on:
      - db
      - geoserver
      - minio
  s4e-web:
    image: nginx:alpine
    ports:
      - ${WEB_PORT:-4200}:80
    volumes:
      - ./s4e-web/target/webapp:/usr/share/nginx/html
      - ./s4e-web/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - net
    depends_on:
      - s4e-backend
  minio:
    image: minio/minio
    volumes:
      - ./tmp/minio-data:/data
    ports:
      - ${MINIO_PORT:-9001}:9000
    networks:
      - net
    environment:
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY:-minio}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY:-minio123}
    command: server /data
  geoserver:
    image: savi/geoserver:1.0.0-GS2.15.1
    volumes:
      - ./resources/geoserver/s3.properties:/opt/geoserver/s3.properties
      - ./tmp/geoserver-data:/opt/geoserver/data_dir
    ports:
      - ${GEOSERVER_PORT:-8080}:8080
    networks:
      - net
    environment:
      GEOSERVER_ADMIN_PASSWORD: ${GEOSERVER_ADMIN_PASSWORD:-admin123}
  db:
    image: postgres:10-alpine
    ports:
      - ${DB_PORT:-5433}:5432
    networks:
      - net
    environment:
      POSTGRES_DB: ${DB_POSTGRES_DB:-sat4envi}
      POSTGRES_USER: ${DB_POSTGRES_USER:-sat4envi}
      POSTGRES_PASSWORD: ${DB_POSTGRES_PASSWORD:-sat4envi}
  db-test:
    image: postgres:10-alpine
    ports:
      - ${DB_TEST_PORT:-5434}:5432
    networks:
      - net
    environment:
      POSTGRES_DB: ${DB_TEST_POSTGRES_DB:-sat4envi_test}
      POSTGRES_USER: ${DB_TEST_POSTGRES_USER:-sat4envi_test}
      POSTGRES_PASSWORD: ${DB_TEST_POSTGRES_PASSWORD:-sat4envi_test}

networks:
  net:
