<ul class="content__tabs">
  <li>
    <a routerLink="/settings/institution" queryParamsHandling="merge">
      Profil instytucji
    </a>
  </li>
  <li class="active">
    Osoby w instytucji
  </li>
  <li>
    <a [routerLink]="['/settings/institution-wms-overlays']"
       queryParamsHandling="merge">
      Warstwy WMS dla instytucji
    </a>
  </li>
  <li>
    <a [routerLink]="['/settings/manage-products']"
       queryParamsHandling="merge">
      Zarządzaj produktami
    </a>
  </li>
</ul>
<s4e-generic-list-view
  [loading]="areLoading$ | async"
  [items]="users$ | async"
  [error]="errors$ | async"
  [selectable]="false"
>
  <ng-container add-button>
    <button
      class="button button--secondary button--small"
      (click)="sendInvitation()"
      data-e2e="open-send-invitation-btn"
    >
      Wyślij zaproszenie
    </button>
  </ng-container>
  <ng-container caption i18n>Zarządzaj ludźmi</ng-container>
  <ng-container search-label i18n>Szukaj ludzi:</ng-container>
  <ng-container description>
    W tym miejscu masz możliwość edytowania, dodawania i usuwania osób,
    które mają dostęp do zasobów ustalonych dla {{ (activeInstitution$ | async)?.name }}
  </ng-container>
  <ng-container table-header>
    <th i18n>Imię i nazwisko</th>
    <th i18n>Email</th>
    <th i18n>Administrator</th>
    <th i18n class="text--center">Status</th>
    <th i18n>Akcje</th>
  </ng-container>
  <ng-template let-user="item">
    <td i18n>{{user.name}} {{user.surname}}</td>
    <td i18n>{{user.email}}</td>

    <td *ngIf="!isInvitation(user)">
      <input
        [disabled]="user.email === currentUserEmail"
        type="checkbox"
        (click)="toggleAdminRoleFor(user)"
        [checked]="isAdmin(user)"
      />
    </td>
    <td *ngIf="isInvitation(user)"></td>
    <td class="text--center">
      <ng-container *ngIf="isInvitation(user)">
        <button
          href="javascript:void(0)"
          (click)="resendTo(user)"
          data-e2e="resend-invitation-btn"
          data-ut="resend-btn"
          class="button button--secondary button--xsmall"
        >
          Zaproś ponownie
        </button>
      </ng-container>
    </td>
    <td>
      <ng-container *ngIf="user.email !== currentUserEmail">
        <ng-container *ngIf="isInvitation(user)">

          <a
            href="javascript:void(0)"
            (click)="sendInvitation(user)"
            data-ut="edit-btn"
            data-e2e="edit-invitation-btn"
          >
            <img src="/assets/images/ico_edit.svg" alt="Edit" width="15"/>
          </a>
        </ng-container>

        <a
          href="javascript:void(0)"
          (click)="delete(user)"
          data-e2e="delete-invitation-btn"
          data-ut="delete-btn"
        >
          <img src="/assets/images/ico_delete.svg" alt="Delete" width="15"/>
        </a>
      </ng-container>
    </td>
  </ng-template>
</s4e-generic-list-view>
