<s4e-generic-modal [buttonX]="false" data-ut="generic-modal">
  <div
    class="s4e-modal-header"
    [innerHTML]="title"
    data-e2e="modal-header"
  ></div>
  <div
    class="s4e-modal-body"
    [innerHTML]="content"
    data-e2e="modal-content"
  ></div>
  <div class="s4e-modal-footer">
    <button class="button button--default" id="cancel_btn" (click)="dismiss()" i18n>Anuluj</button>
    <button class="button button--primary" id="accept_btn" (click)="accept()" i18n>Ok</button>
  </div>
</s4e-generic-modal>
