<s4e-generic-modal [buttonX]="true" [modalId]="registeredId">
  <div class="s4e-modal-header" i18n>Wczytaj konfigurację</div>
  <div class="s4e-modal-body">
    <ng-container *ngIf="!(loading$ | async); else loadingRef">
      <div *ngIf="!(hasCustomOverlays$ | async)" class="infobox infobox--emptylayers">
        <p>
          Nie masz jeszcze żadnej swojej nakładki. <a href="#">Sprawdź czym są nadkładki.</a>
        </p>
        <button [disabled]="showOverlayForm$ | async"
                class="button button--secondary button--small"
                type="button" (click)="setNewFormVisible(true)" i18n>Dodaj Nakładkę
        </button>
      </div>

      <ng-container *ngIf="showOverlayForm$ | async">
        <form [formGroup]="newOverlayForm" class="form">
          <div class="infobox infobox--addlayer">
            <strong>
              Formularz dodawania własnej nakładki
            </strong>
            <table [ngClass]="{disabled: addingNewLayer$ | async}" width="100%">
              <tbody>
              <tr>
                <td><ext-input
                  formControlName="layerName"
                  label="Nazwa"
                  i18n-label
                  placeholder="Moja nakładka 1"
                  i18n-placeholder
                  data-e2e="layer-label-input"
                ></ext-input></td>
                <td><ext-input
                  formControlName="url"
                  label="URL"
                  i18n-label
                  placeholder="https://my-wms-server.com/..."
                  data-e2e="layer-url-input"
                ></ext-input></td>
                <td><ext-input
                  formControlName="layer"
                  label="Warstwa"
                  i18n-label
                  placeholder="LAYER_W_1"
                  data-e2e="layer-group-label-input"
                ></ext-input></td>
              </tr>
              </tbody>
            </table>
            <ng-container *ngIf="!(addingNewLayer$ | async); else createLoadingRef">
              <button
                [disabled]="addingNewLayer$ | async"
                (click)="addNewOverlay()"
                class="button button--secondary button--small"
                data-e2e="submit-layer-form-btn"
              >
                Dodaj
              </button>
              <button [disabled]="addingNewLayer$ | async" (click)="setNewFormVisible(false)" class="button button--cancel button--small">Anuluj</button>
            </ng-container>
            <ng-template #createLoadingRef>
              <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
            </ng-template>
          </div>
        </form>
      </ng-container>

      <div class="s4e-modal-table" *ngIf="(overlays$ | async).length > 0; else noConfigurations">
        <table class="modal__table modal__table--white">
          <thead>
            <tr>
              <th i18n>Nazwa</th>
              <th i18n>URL nakładki</th>
              <th i18n>Warstwa</th>
              <th i18n>Pokaż w panelu</th>
              <th i18n>Data dodania</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let overlay of (overlays$ | async);trackBy:getOverlayId;index as $index"
              [ngClass]="{disabled: overlay.loadingDelete}"
              data-e2e="management-overlay"
            >
              <td>{{overlay.label}}</td>
              <td>{{overlay.url}}</td>
              <td>{{overlay.label}}</td>
              <td i18n align="center">
                <label class="fancycheckbox" data-e2e="display-in-panel-btn">
                  <input
                    *ngIf="!overlay.loadingVisible; else loadingVisibleRef"
                    type="checkbox"
                    [formControl]="visibilityFCList[$index]"
                    class="checkbox-slide"
                  >
                  <div class="slider round"></div>
                </label>

                <ng-template #loadingVisibleRef>
                  <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
                </ng-template>
              </td>
              <td>{{overlay.createdAt | S4EDate}}</td>
              <td>
                <button
                  *ngIf="isPersonal(overlay)"
                  [disabled]="overlay.loadingDelete"
                  (click)="removeOverlay(overlay.id)"
                  data-e2e="delete-layer-btn"
                >
                  <img *ngIf="!overlay.loadingDelete; else deleteLoadingRef" src="/assets/images/ico_delete.svg" alt="Delete" width="15"/>
                  <ng-template #deleteLoadingRef>
                    <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
                  </ng-template>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <section class="element" role="menuitem" *ngFor="let config of (overlays$ | async)">
        </section>
      </div>
      <ng-template #noConfigurations>
        <span i18n>Brak zapisanych widoków</span>
      </ng-template>

      <ng-container *ngIf="hasCustomOverlays$ | async">
        <button
          *ngIf="!(showOverlayForm$ | async)"
          class="button button--secondary button--small"
          type="button"
          (click)="setNewFormVisible(true)"
          data-e2e="add-layer-btn"
          i18n
        >
          Dodaj Nakładkę
        </button>
      </ng-container>
    </ng-container>
    <ng-template #loadingRef>
      <div class="loading loading--form">
        <div class="loading__item"></div>
      </div>
    </ng-template>
  </div>
  <div class="s4e-modal-footer">
    <button class="button button--cancel button--small" type="button" (click)="dismiss()" i18n>Zamknij</button>
  </div>
</s4e-generic-modal>
