<header class="content__header">
  <h1 i18n>Profil instytucji</h1>
</header>
<section class="content__details content__details--75 profile">
  <ng-container *ngIf="!!activeInstitution">
    <div class="profile__content">
      <h2 id="institution-title">{{ activeInstitution.name }}</h2>
      <ul>
        <li id="institution-address">{{ activeInstitution.address }}</li>
        <li id="institution-postal-code">{{ activeInstitution.postalCode }} {{ activeInstitution.city }}</li>
        <li *ngIf="!!activeInstitution.institutionAdminEmail" id="institution-email">
          email: {{ activeInstitution.institutionAdminEmail }}
        </li>
        <li *ngIf="!!activeInstitution.phone" id="institution-phone">
          Telefon: {{ activeInstitution.phone }}
        </li>
        <li *ngIf="!!activeInstitution.secondaryPhone" id="institution-second-phone">
          Telefon: {{ activeInstitution.secondaryPhone }}
        </li>
      </ul>
    </div>
    <aside class="institution__logo">
      <img *ngIf="!!activeInstitution && activeInstitution.emblem" [src]="activeInstitution.emblem" alt="Logo instytucji" />
    </aside>
  </ng-container>
  <footer>
    <button
      class="button button--default button--small"
      [routerLink]="['/settings/edit-institution']"
      queryParamsHandling="merge"
      i18n
    >
      Edytuj dane
    </button>
    <button
      class="button button--secondary button--small"
      [routerLink]="['/settings/add-institution']"
      [queryParams]="{'addChild': true}"
      queryParamsHandling="merge"
      i18n
    >
      Dodaj jednostkę podrzędną
    </button>
  </footer>
</section>

<section class="content__details content__details--75 profile">
  <h3>Jednostki podległe</h3>
  <table class="table">
    <tr>
      <td>
        Komenda Powiatowa PSP w Chodzieży, <span>Chodzież</span>
      </td>
      <td class="actions">
        <img src="/assets/images/ico_edit.svg" alt="Edit" width="15"/>
        <img src="/assets/images/ico_delete.svg" alt="Delete" width="15"/>
      </td>
    </tr>
    <tr>
      <td>
        Komenda Powiatowa PSP w Chodzieży, <span>Chodzież</span>
      </td>
      <td class="actions">
        <img src="/assets/images/ico_edit.svg" alt="Edit" width="15"/>
        <img src="/assets/images/ico_delete.svg" alt="Delete" width="15"/>
      </td>
    </tr>

    </table>

</section>
<div class="content__image content__image--institution"></div>

