
<header class="page__header">
  <h1 i18n>Profil instytucji</h1>
  <p i18n>
    To instytucja, której jesteś administratorem. Możesz tu edytować podstawowe informacje.  </p>
</header>
<section class="page__content">
  <img *ngIf="!!activeInstitution && activeInstitution.emblem" [src]="activeInstitution.emblem" />
  <div class="institution__box">
    <span
      class="button button--default"
      [routerLink]="['/settings/edit-institution']"
      queryParamsHandling="merge"
      i18n
    >
      Edytuj dane
    </span>
    <ng-container *ngIf="!!activeInstitution">
      <h2 id="institution-title">{{ activeInstitution.name }}</h2>
      <ul>
        <li id="institution-address">{{ activeInstitution.address }}</li>
        <li id="institution-postal-code">{{ activeInstitution.postalCode }} {{ activeInstitution.city }}</li>
        <li *ngIf="!!activeInstitution.institutionAdminEmail" id="institution-email">
          email: {{ activeInstitution.institutionAdminEmail }}
        </li>
        <li *ngIf="!!activeInstitution.phone" id="institution-phone">
          phone: {{ activeInstitution.phone }}
        </li>
        <li *ngIf="!!activeInstitution.secondaryPhone" id="institution-second-phone">
          second phone: {{ activeInstitution.secondaryPhone }}
        </li>
      </ul>
    </ng-container>
  </div>
</section>
