@import "../../../../scss/variables";

:host {
  position: absolute;
  right: 10px;
  bottom: 80px;
  z-index: 2;
  height: calc(100% - 170px);
  width: 331px;
}


.legend__chart {
  height: 100%;
  width: 20px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(/../../../../assets/images/gfx_temp_legend.svg) no-repeat;
  background-size: cover;
  cursor: pointer;

  ul {
    position: relative;
    height: 100%;
  }

  ul:last-child {
    color: $color-white;
  }
}

.legend__description {
  width: 300px;
  height: 100%;
  position: absolute;
  right: 31px;
  top: 0;
  background-color: white;
  padding: 0 $space-small;
}

.legend__image {
  height: 100%;
}

.chart__label {
  position: absolute;
}

