<header class="page__header">
  <h1 i18n>Zarządzaj Grupami</h1>
  <p i18n>
    W tym miejscu masz możliwość edytowania, dodawania i usuwania grup do których możesz przypisać osoby z dostępem do zasobów ustalonych dla Urzędu Gminy Chrzanów.
  </p>
</header>
<section class="page__content">
  <ng-container *ngIf="(error$ | async) == null; else errorView">
    <button class="button button--secondary button--large" routerLink="../groups/add" queryParamsHandling="preserve">Dodaj nową Grupę</button>

    <select (change)="setInstitution($event.target.value)">
      <option *ngIf="institutionsLoading$ | async; else institutions" i18n>Wczytywanie instytucji...</option>
      <ng-template #institutions>
        <option *ngFor="let institution of (institutions$ | async)" [value]="institution.slug">{{institution.name}}</option>
      </ng-template>
    </select>


    <table>
      <ng-container *ngIf="!((loading$ | async) || (institutionsLoading$ | async)); else tableLoading">
        <thead>
        <tr>
          <th i18n>Nazwa</th>
          <th i18n>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let group of (groups$ | async)">
          <td>{{group.name}}</td>
          <td></td>
        </tr>
        </tbody>
      </ng-container>
      <ng-template #tableLoading>
        <tbody>
        <tr>
          <td colspan="5" style="text-align: center" i18n>Ładowanie...</td>
        </tr>
        </tbody>
      </ng-template>
    </table>
  </ng-container>
  <ng-template #errorView>
    <p i18n>Nie posiadasz uprawnień do instytucji</p>
  </ng-template>
</section>
