<div class="head-nav">
  <div ngbDropdown style="display:inline-block">
    <button class="btn btn-primary text-uppercase text-left" ngbDropdownToggle>{{ 's4e-root.Products' | translate }}</button>
    <div ngbDropdownMenu>
      <button class= "dropdown-item text-left text-capitalize" *ngFor="let product of products | async"
              (click)="selectProduct(product)">{{product.name}}</button>
    </div>
  </div>
</div>
<div class="timeline position-absolute card d-flex flex-row">
  <div class="p-2"
       *ngFor="let day of days | async"
       [ngClass]="{'border-left': !first}">
    <small class="ml-2">{{ day.label }}</small>
    <ul class="list-inline ml-2 mr-2 mb-0">
      <li class="list-inline-item font-weight-bold ml-2"
          *ngFor="let granule of day.granules"
          [ngClass]="{'mr-5': !last, 'mr-2': last}"
          (click)="updateViewedGranule(granule)">
        {{ granule.timestamp | date:'HH:mm' }}
      </li>
    </ul>
  </div>
</div>
<div class="map-container clearfix">
  <s4e-view-manager
    [activeGranuleView]="activeGranuleView"
    [overlays]="overlays"
    [granuleViews]="granuleViews"
    (activeGranuleViewChangeRequest)="setActiveGranuleView($event)"
    (granuleViewRemoveRequest)="removeGranuleView($event.granule.productId)"></s4e-view-manager>
</div>
<div id="map"></div>
