<div class="head-nav">
  <div ngbDropdown style="display:inline-block">
    <button class="btn btn-primary" ngbDropdownToggle>{{ 's4e-root.Products' | translate }}</button>
    <div ngbDropdownMenu>
      <button class= "dropdown-item" *ngFor="let product of products | async"
              (click)="selectProduct(product)"
              [class.active]="product === selectedProduct">{{product.type}}</button>
    </div>
  </div>
  <div style="display:inline-block">
    <a href="#"
       *ngFor="let granule of granules | async"
       (click)="addGranule(granule)">{{granule.timestamp}}&nbsp;</a>
  </div>
</div>
<div class="map-container clearfix">
  <!--<s4e-layers></s4e-layers>-->
  <s4e-view-manager
    [activeGranuleView]="activeGranuleView"
    [overlays]="overlays"
    [granuleViews]="granuleViews"
    (activeGranuleViewChangeRequest)="selectGranuleView($event)"
    (granuleViewRemoveRequest)="removeGranuleView($event.granule.type)"></s4e-view-manager>
  <div id="map"></div>
</div>
