<h2>{{ 's4e-view-manager.OVERLAYS' | translate }}</h2>
<div class="overlay"
     *ngFor="let overlay of overlays">{{ overlay.type }}</div>

<h2>{{ 's4e-view-manager.PRODUCTS' | translate }}</h2>
<div class="product-view card"
     *ngFor="let granuleView of granuleViews"
     [ngClass]="{'bg-primary text-light': granuleView === activeGranuleView}">
  <div class="card-header" (click)="activeGranuleViewChangeRequest.emit(granuleView)">
    {{ granuleView.product.name }}
  </div>
  <div class="card-body">
    <p class="card-text">
      {{ granuleView.granule.timestamp }}
    </p>
    <a href="#" class="btn btn-sm btn-dark"
       (click)="granuleViewRemoveRequest.emit(granuleView)">
      {{ 's4e-view-manager.REMOVE_PRODUCT_VIEW' | translate }}
    </a>
  </div>
</div>
