@import "../../../../scss/variables";


.searchResult__item {
  height: 20px;
  margin: 2px;
  padding: 2px 4px;
  border-radius: 4px;
}

.search__notfound,
.search__loading {
  font-size: 0.875rem;
  font-weight: 600;
  margin-left: $space-default;
  text-transform: uppercase;
  color: $color-grey;
}


.searchResult {
  padding: 10px;
  border-radius: $border-radius-default;

  fa-icon {
    margin-right: $space-xsmall;
  }

  ul {
    li {
      margin-bottom: $space-xsmall;
      padding: $space-xsmall $space-xsmall 1px $space-xsmall;

      &:last-child {
        margin-bottom: 0;
      }

      & .type,
      & .voivodeship{
        font-style: italic;
        color: $color-grey;
        opacity: 0.5;
        margin-left: $space-xsmall;
      }

      & .name {
        margin-right: $space-small;
      }

      &:hover {
        border-radius: $border-radius-default;
        background: $color-grey-primary;
        cursor: pointer;
        padding-left: $space-small;
      }
    }


  }
}

