<s4e-tiles-dashboard>
  <h1 dashboard-title>Witamy w panelu administratora Sat4Envi</h1>
  <p dashboard-description>
    Jesteś superadministratorem zasobów i dostępów Sat4Envi w Kategorii Zarządzanie Kryzysowe <br />
    Oprócz zarządzania ludźmi i grupami możesz również m. in. edytować instytucje:
  </p>
  <ng-container dashboard-tiles>
    <s4e-tile>
      <header class="panel__header" tile-title>Wybierz instytucję</header>
      <p i18n tile-description>Wybierz instytucję aby móc nią zarządzać</p>
      <s4e-search
        placeholder="Wpisz szukaną instytucję..."
        [searchResults]="institutions$ | async"
        [isSearchLoading]="institutionsLoading$ | async"
        [isSearchOpen]="isInUse && (areResultsOpen$ | async)"
        [value]="searchValue"

        (selectResult)="selectInstitution($event)"
        (refreshResults)="searchForInstitutions($event)"
        (selectFirstResult)="selectFirstInstitution()"
        (resetSearch)="resetSearch()"
        footer-navigation
      >
        <ng-template #result let-result>
          <span *ngIf="!!result.name" class="name">{{ result.name }}</span>
          <span *ngIf="!!result.slug" class="type">{{ result.slug }}</span>
        </ng-template>
      </s4e-search>
    </s4e-tile>

    <s4e-tile>
      <header class="panel__header" tile-title>Zarządzaj instytucjami</header>
      <p i18n tile-description>Lista wszystkich instytucji. W tym miejscu możesz je edytować</p>
      <button
        routerLink="../groups"
        queryParamsHandling="merge"
        class="button button--secondary button--small"
        [disabled]="!(hasSelectedInstitution$ | async)"
        footer-navigation
      >
        Zarządzaj
      </button>
    </s4e-tile>
  </ng-container>
</s4e-tiles-dashboard>
