.map-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  width: 289px;
  border: 1px solid #333333;
  background-color: #ffffff;
}

#map {
  display: block;
  width: 100%;
  height: 100vh;
  float: left;
}

.product-views {
  li {
    cursor: hand;
  }
}

