@import "../../scss/common";

h2 {
  font-size: 14px;
}
.overlay, .product-view {
  margin: 2px;
  padding: 2px;
}
.overlay {
  border: solid 1px #ccc;
  font-size: 13px;
}
.product-view {
  .card-header {
    cursor: pointer;
  }
}

.product-view {
  font-size: 13px;

  a {
    font-size: 12px;
  }
}

.overlay {
  border: none !important;
}

