<header class="content__header">
  <h1 i18n>Zmiana hasła</h1>
</header>

<div class="content__details content__details--50">
  <form class="informational-form content__form" (ngSubmit)="submitPasswordChange()" [formGroup]="form" autocomplete="off">
    <div class="alert alert-danger alerts" *ngIf="error$ | async" data-e2e="alert-message">
      <ng-container [ngSwitch]="(error$ | async).status">
        <ng-container *ngSwitchCase="400" i18n>Niepoprawnie wypełniony formularz</ng-container>
        <ng-container *ngSwitchCase="500" i18n>Wystąpił błąd serwera</ng-container>
        <ng-container *ngSwitchDefault i18n>Nieoczekiwany błąd</ng-container>
      </ng-container>
    </div>

    <div class="alert alert-danger" *ngIf="form.errors" data-e2e="alert-message-details">
      <ul>
        <li *ngFor="let error of (form.errors | errorKeys)" [ngSwitch]="error">
          <ng-container *ngSwitchDefault i18n>Nieoczekiwany błąd</ng-container>
        </li>
      </ul>
    </div>

    <ext-input formControlName="oldPassword" type="password" label="Stare hasło: " i18n-label></ext-input>
    <ext-input formControlName="newPassword" type="password" label="Nowe hasło: " i18n-label></ext-input>
    <footer>
      <button class="button button--primary button--small" type="submit">Zmień hasło</button>
      <button class="button button--borderBlack button--small" >Anuluj</button>
    </footer>
  </form>
</div>
<div class="content__image content__image--profile"></div>
