<header class="content__header">
  <h1 i18n>Zmiana hasła</h1>
</header>

<div class="content__details content__details--50">
  <form class="informational-form content__form" (ngSubmit)="submitPasswordChange()" [formGroup]="form" autocomplete="off">
    <div class="alert alert-danger alerts" *ngIf="error$ | async" data-e2e="alert-message">
      <ng-container [ngSwitch]="(error$ | async).status">
        <ng-container *ngSwitchCase="400" i18n>Niepoprawnie wypełniony formularz</ng-container>
        <ng-container *ngSwitchCase="500" i18n>Wystąpił błąd serwera</ng-container>
        <ng-container *ngSwitchDefault i18n>Nieoczekiwany błąd: {{ (error$ | async).status }}</ng-container>
      </ng-container>
    </div>

    <div class="alert alert-danger" *ngIf="form.errors" data-e2e="alert-message-details">
      <ul>
        <li *ngFor="let error of (form.errors | errorKeys)" [ngSwitch]="error">
          <ng-container *ngSwitchDefault i18n>Nieoczekiwany błąd: {{ error }}</ng-container>
        </li>
      </ul>
    </div>

    <label for="oldPassword" i18n>Stare hasło:</label>
    <input id="oldPassword" type="password" formControlName="oldPassword" i18n/>
    <ul s4e-form-error [control]="form.controls.oldPassword"></ul>

    <label for="newPassword" i18n>Nowe hasło:</label>
    <input id="newPassword" type="password" formControlName="newPassword" i18n/>
    <ul s4e-form-error [control]="form.controls.newPassword"></ul>

    <footer>
      <button class="button button--primary button--small" type="submit">Zmień hasło</button>
      <button class="button button--borderBlack button--small" (click)="reset()">Anuluj</button>
    </footer>
  </form>
</div>
<div class="content__image content__image--profile"></div>
