<ng-container *ngIf="control == null || control.touched">
<li *ngFor="let error of ((control != null ? control.errors : errors) | errorKeys)" [ngSwitch]="error">
  <ng-container *ngSwitchCase="'email'" i18n>To pole musi być emailem</ng-container>
  <ng-container *ngSwitchCase="'required'" i18n>To pole jest wymagane</ng-container>
  <ng-container *ngSwitchCase="'mustMatch'" i18n>Hasła muszą być takie same</ng-container>
  <ng-container *ngSwitchCase="'__general__'">{{errors}}</ng-container>
  <ng-container *ngSwitchCase="'server'">
    <ng-container *ngFor="let message of (control != null ? control.errors : errors)['server']">{{message}}<br></ng-container>
  </ng-container>
  <ng-container *ngSwitchDefault i18n>Nieoczekiwany błąd</ng-container>
</li>
</ng-container>
