<form [formGroup]="form" (ngSubmit)="submit()">
  <s4e-generic-modal [buttonX]="true" [modalId]="registeredId">
    <div class="s4e-modal-header" i18n>Wyślij wiadomość</div>
    <div class="s4e-modal-body report">
      <aside>
        <strong i18n>Podgląd widoku</strong>
        <div #reportTemplate class="report-template">
          <img id="map-miniature" [src]="image" alt="Podgląd widoku, który chcesz wysłać"/>
        </div>

        <strong>Link do widoku</strong>
        <div class="report__details">
          <a id="share-link" target="_blank" [attr.href]="displayHref"><small>{{displayHref}}</small></a>
        </div>
      </aside>
      <div class="form">
        <ul>
          <li><ext-input formControlName="emails" label="Adresaci" i18n-label help="Możesz wpisać kilka adresów e-mail po przecinku" i18n-help></ext-input></li>
          <li><ext-input formControlName="caption" label="Tytuł wiadomości" i18n-label></ext-input></li>
          <li><ext-textarea formControlName="description" label="Dodatkowe informacje" i18n-label></ext-textarea></li>
        </ul>
      </div>
    </div>
    <div class="s4e-modal-footer">
      <button class="button button--primary button--small"
              type="submit" [disabled]="(isLoading$ | async)" i18n>Wyślij Wiadomość</button>
      <button class="button button--cancel button--small"
              type="button" [disabled]="(isLoading$ | async)" (click)="dismiss()" i18n>Anuluj</button>
    </div>
  </s4e-generic-modal>
</form>
