<s4e-generic-list-view [loading]="isLoading$ | async"
                       [items]="institutions$ | async"
                       [error]="error$ | async"
                       [searchable]="true">
  <ng-container add-button>
    <button class="button button--secondary button--large" data-e2e="addInstitution"
            routerLink="../add-institution"
            queryParamsHandling="preserve" i18n>Nowa Instytucja</button>
  </ng-container>
  <ng-container description>
    [TODO] Tu możesz zarządzać instytucjami...
  </ng-container>
  <ng-container caption i18n>Zarządzanie instytucjami</ng-container>
  <ng-container table-header>
    <th i18n>Nazwa instytucji</th>
    <th i18n>Akcje</th>
  </ng-container>
  <ng-template let-inst="item">
    <td [style.padding-left.px]="(inst.ancestorDepth || 0) * 30 + 15">
      <a routerLink="../institution" queryParamsHandling="merge"
         [queryParams]="{institution: inst.slug}">{{inst.name}}</a></td>
    <td>
      <a href="javascript:void(0)"
         data-e2e="delete"
         (click)="deleteInstitution(inst.slug)"><i class="fas fa-trash"></i></a>
      <a routerLink="../institution" queryParamsHandling="merge"
         data-e2e="edit"
         [queryParams]="{institution: inst.slug}"><i class="fas fa-user-edit"></i>
      </a>
    </td>
  </ng-template>
</s4e-generic-list-view>
