@import "../../../../scss/variables";

:host {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.4;
  z-index: 200;
}

.backdrop-transparent {
  opacity: 0;
  z-index: -1;
}

.modal {
  position: absolute;
  width: 100%;
  z-index: 300;
  tab-index: -1;
  outline: none;
}

.modal-dialog {
  margin-right: auto;
  margin-left: auto;
  z-index: 200;

  &.modal-md {
    width: 600px;
  }
  &.modal-lg {
    width: 800px;
  }
  &.modal-sm {
    width: 300px;
  }
  &.modal-fl {
    width: 100%;
  }
}

.modal-content {
  scrollbar-width: thin;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 25px;
}
