<form [formGroup]="form">
  <s4e-generic-modal [buttonX]="true" [modalId]="registeredId">
    <div class="s4e-modal-header" i18n>Stwórz raport PDF</div>
    <div class="s4e-modal-body report">
      <aside>
        <strong i18n>Podgląd obszaru</strong>
        <span i18n>Poruszając poniższą mapą możesz dostosować widok</span>
        <div #reportTemplate class="report-template">
          <img id="map-miniature" i18n-alt alt="Miniatura" [src]="image">
        </div>
        <ul class="report__details">
          <li *ngIf="sceneDate">
            <strong>Data</strong>
            <span>{{sceneDate}}</span>
          </li>
          <li *ngIf="productName">
            <strong>Źródło</strong>
            <span>{{productName}}</span>
          </li>
        </ul>
      </aside>
      <div class="form">
        <ul>
          <li>
            <label for="caption" i18n>Tytuł</label>
            <input id="caption" formControlName="caption" type="text" />
            <span class="error" *ngIf="form.controls.caption.hasError('required') && form.controls.caption.touched" i18n>To pole jest wymagane</span>
            <!--suppress TypeScriptValidateTypes -->
            <span class="error" *ngIf="form.controls.caption.hasError('maxLength') && form.controls.caption.touched" i18n>Maksymalna liczba znaków: 80</span>
          </li>
          <li>
            <label for="notes" i18n>Notatka</label>
            <textarea id="notes" formControlName="notes"></textarea>
            <!--suppress TypeScriptValidateTypes -->
            <span class="error" *ngIf="form.controls.notes.hasError('maxLength') && form.controls.notes.touched" i18n>Maksymalna liczba znaków: 800</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="s4e-modal-footer">
      <button class="button button--primary button--small"  type="submit" [disabled]="disabled$ | async" (click)="accept()" i18n>Zapisz raport na dysk</button>
      <button class="button button--cancel button--small" type="button" [disabled]="disabled$ | async" (click)="dismiss()" i18n>Anuluj</button>
    </div>
  </s4e-generic-modal>
</form>
