<form [formGroup]="form">
  <s4e-generic-modal [buttonX]="true" [modalId]="registeredId">
    <div class="s4e-modal-header" i18n>Stwórz raport PDF</div>
    <div class="s4e-modal-body report">
      <aside>
        <div #reportTemplate class="report-template" style="display: block; width: 275px; height: 275px;">
          <img #minimap style="display: block;" id="map-miniature" i18n-alt alt="Miniatura" [src]="image">
        </div>
        <strong i18n>Podgląd obszaru</strong>
        <span i18n>Przesuwając powyższą mapę możesz dostosować widok. Aby zmienić oddalenie, użyj kółka myszy.</span>

        <ul class="report__details" *ngIf="sceneDate || productName">
          <li *ngIf="sceneDate">
            <strong>Data</strong>
            <span>{{sceneDate}}</span>
          </li>
          <li *ngIf="productName">
            <strong>Źródło</strong>
            <span>{{productName}}</span>
          </li>
        </ul>
      </aside>
      <div class="form">
        <ul>
          <li>
            <ext-input id="caption" formControlName="caption" label="Tytuł" i18n-label ></ext-input>
          </li>
          <li>
            <ext-textarea id="notes" formControlName="notes" label="Opis" i18n-label></ext-textarea>
          </li>
        </ul>
      </div>
    </div>
    <div class="s4e-modal-footer">
      <button
        class="button button--primary button--small"
        type="submit" [disabled]="disabled$ | async"
        (click)="accept()"
        i18n
      >
        Zapisz raport na dysk
      </button>
      <button
        class="button button--primary button--small"
        type="submit" [disabled]="disabled$ | async"
        (click)="saveAsTemplate()"
        i18n
      >
        Zapisz jako szablon
      </button>
      <button
        class="button button--cancel button--small"
        type="button"
        [disabled]="disabled$ | async"
        (click)="dismiss()"
        i18n
      >
        Anuluj
      </button>
    </div>
  </s4e-generic-modal>
</form>
