@import "~src/scss/variables";



.element {
  margin-bottom: $space-xlarge;
  padding-bottom: $space-large;
  border-bottom: 2px solid $color-white-50;

  &:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  header {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: $space-default;
    display: block;
  }

  .content {
    overflow: hidden;
    figure {
      width: 150px;
      height: 80px;
      overflow: hidden;
      border: 1px solid $color-white-50;
      margin-right: $space-default;
      float: left;
    }

    p {
      margin: 0 $space-large;
      font-size: 0.875rem;
    }

    .buttons__container {
      margin-top: $space-small;
      display: flex;
      flex-direction: row;

      button {
        padding: $space-xsmall $space-xlarge;
        margin: 0 $space-xsmall $space-xsmall;
      }
    }
  }
}
