<div class="container">
  <div class="intro">
    <div class="logo logo--white"></div>
    <div class="intro__content">
      <h1>
        Dane satelitarne na wyciągnięcie ręki
      </h1>
      <p>
        Kompleksowy system udostępniania danych satelitarnych
        z programu Copernicus oraz z innych satelitów środowiskowych i meteorologicznych
      </p>
    </div>
    <img src="../../../assets/images/logo_partners.png" class="logo__partners" alt="Partnerzy: IMGW, Cyfronet, CBK" />
  </div>
  <div class="content">
    <div class="logo logo--color"></div>
    <section class="content__switch content__switch--right">
      <p>
        Nie masz jeszcze konta?
      </p>
      <a class="button" href="/register">
        Zarejestruj się
      </a>
    </section>
    <div class="content__formContainer">
      <form (ngSubmit)="login()" [formGroup]="form" autocomplete="off">
        <h2 class="content__header" i18n>Logowanie</h2>
        <div class="alert alert-danger" *ngIf="error$ | async">
          {{(error$ | async)?.message || 'Nieoczekiwany błąd'}}
        </div>

        <div class="alert alert-danger" *ngIf="form.errors">
          <ul>
            <li *ngFor="let error of (form.errors | errorKeys)" [ngSwitch]="error">
              <ng-container *ngSwitchDefault i18n>Nieoczekiwany błąd</ng-container>
            </li>
          </ul>
        </div>

        <ul class="form__list">
          <li class="form__element">
            <label for="login-login" i18n>Email</label>
            <input class="form-control" formControlName="login" id="login-login" type="text">
            <ul class="invalid-feedback special__error">
              <li *ngFor="let error of (form.controls.login.errors | errorKeys)" [ngSwitch]="error">
                <ng-container *ngSwitchCase="'email'" i18n>Login musi być emailem</ng-container>
                <ng-container *ngSwitchCase="'required'" i18n>To pole jest wymagane</ng-container>
              </li>
            </ul>
          </li>
          <li class="form__element">
            <label for="login-password" i18n>Hasło</label>
            <input class="form-control" formControlName="password" id="login-password" type="password">
            <ul class="invalid-feedback  special__error">
              <li *ngFor="let error of (form.controls.password.errors | errorKeys)" [ngSwitch]="error">
                <ng-container *ngSwitchCase="'required'" i18n>To pole jest wymagane</ng-container>
              </li>
            </ul>
          </li>
          <li class="form__element form__checkbox">
            <input type="checkbox" class="form-check-input" id="login-remember-me">
            <label class="form-check-label" for="login-remember-me" i18n>
              <span class="ui"></span>
              Zapamiętaj mnie
            </label>
          </li>
          <li class="form__element">
            <button class="button button--secondary" type="submit">
              <fa-icon [hidden]="!(loading$ | async)" [icon]="['fas', 'circle-notch']" [spin]="true"></fa-icon>
              <ng-container i18n>Zaloguj</ng-container>
            </button>
          </li>
        </ul>
        <img src="../../../assets/images/logo_partners.png" class="logo__partners" alt="Partnerzy: IMGW, Cyfronet, CBK"/>
      </form>
    </div>
  </div>
</div>
