<div class="container">
  <div class="intro">
    <div class="logo logo--white"></div>
    <div class="intro__content">
      <h1>
        Dane satelitarne na wyciągnięcie ręki
      </h1>
      <p>
        Kompleksowy system udostępniania danych satelitarnych
        z programu Copernicus oraz z innych satelitów środowiskowych i meteorologicznych
      </p>
    </div>
    <img src="../../../assets/images/logo_partners.png" alt="Partnerzy: IMGW, Cyfronet, CBK"/>
  </div>
  <div class="content">
    <div class="intro__content">
      <h2>
        Potwierdzenie rejestracji
      </h2>
      <p>
        Dziękujemy za rejestrację w serwisie Sat4Envi. <br>
        Za chwilę na podany adres email otrzymasz link aktywacyjny. <br>
      </p>
      <button class="button button--primary" routerLink="/login">
        <ng-container i18n>Wróć do panelu logowania</ng-container>
      </button>
    </div>
  </div>
</div>












