<div class="head-nav">
  <div ngbDropdown style="display:inline-block">
    <button class="btn btn-primary" ngbDropdownToggle>Product views</button>
    <div ngbDropdownMenu>
      <button class= "dropdown-item" *ngFor="let productView of productViews"
              (click)="selectedProductView = productView"
              [class.active]="productView === selectedProductView">{{productView.id}}</button>
    </div>
  </div>
  <div ngbDropdown style="display:inline-block">
    <button class="btn btn-primary" ngbDropdownToggle>Timestamps</button>
    <div ngbDropdownMenu>
      <button class="dropdown-item" *ngFor="let layer of selectedProductView.layers"
              (click)="addLayer(layer)">{{layer.timestamp}}</button>
    </div>
  </div>
</div>
<div class="map-container clearfix">
  <s4e-layers></s4e-layers>
  <div id="map"></div>
</div>

<!--<router-outlet></router-outlet>-->
