<div class="head-nav">
  <div ngbDropdown style="display:inline-block">
    <button class="btn btn-primary" ngbDropdownToggle>Product views</button>
    <div ngbDropdownMenu>
      <button class= "dropdown-item" *ngFor="let productView of productViews"
              (click)="selectProductView(productView)"
              [class.active]="productView === selectedProductView">{{productView.id}}</button>
    </div>
  </div>
  <div ngbDropdown style="display:inline-block">
    <button class="btn btn-primary" ngbDropdownToggle>Timestamps</button>
    <div ngbDropdownMenu>
      <button class="dropdown-item" *ngFor="let layer of selectedProductView.layers"
              (click)="showLayer(layer)"
              [class.active]="layer === selectedLayer">{{layer.timestamp}}</button>
    </div>
  </div>
  <div style="display: inline-block">
    {{selectedProductView.id}} - {{selectedLayer.timestamp}}
  </div>
</div>
<div id="map"></div>

<!--<router-outlet></router-outlet>-->
