<div class="head-nav">
  <h4>Product views</h4>
  <ul>
    <li *ngFor="let productView of productViews" (click)="selectProductView(productView.id)">
      {{productView.id}}
      <span *ngIf="productView.id === selectedProductView.id"> (active)</span>
    </li>
  </ul>
  <h4>Layers</h4>
  <ul>
    <li *ngFor="let layer of selectedProductView.layers" (click)="showLayer(layer)">
      {{layer.timestamp}}
      <span *ngIf="layer.id === selectedLayer.id"> (active)</span>
    </li>
  </ul>
</div>
<div id="map"></div>

<!--<router-outlet></router-outlet>-->
