@import "../../../../scss/common";
@import "../../../../scss/variables";

:host /* .timeline */ {
  position: absolute;
  left: 420px;
  margin-left: auto;
  bottom : 20px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: $border-radius-default;
}


.timeline__manage {
  font-weight: 400;
  font-size: 0.8125rem;
  color: $color-white;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;

}

.timeline__currentday {
  display:flex;
  padding: $space-small;
  background: $color-white;
  color: $color-black;
  font-size: 0.875rem;
  font-weight: bold;

  > * {
    align-self: center;
    margin: 0 3px;
  }
}

.timeline__calendar {
  width: 14px;
  color: $color-white;
  background: $color-primary;
  padding: $space-small;
  align-self: center;
  border-left: 1px solid $color-primary-darker;
  border-top-right-radius: $border-radius-default;
  margin-top: -15px;
  cursor: pointer;
}


.timeline__grid {
  overflow-y: scroll;
  display:flex;
  flex-direction: row;
  background: $color-white;
  margin-top: 1px;
  border-radius: 0 $border-radius-default $border-radius-default;
  width: 1000px;

  &:after {
    border: none;
  }
}


.timeline__item {
  font-size: 0.75rem;
  padding: $space-default $space-small;
  color: $color-grey;
  cursor: pointer;
  border-bottom: 4px solid $color-grey-secondary;


  &:hover {
    background: $color-grey-primary;
  }

  &.active {
    border-bottom: 4px solid $color-secondary;
    font-weight: bold;
  }
}

.box_content {
  background: $color-grey-primary;
  color: $color-grey;
  padding: 0;
  border-radius: $border-radius-default;
}

