.timecontrol--live {
  background: whitesmoke;
  float: left;

  input[type="checkbox"] {
    display: none;
  }

  label[for="live"] {
    cursor: pointer;

    span {
      margin-bottom: 5px;
    }
  }

  #live--dot {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: gray;
    display: inline-block;
    margin-bottom: 0px;

    &.active {
      @keyframes pulse {
        0% {
          background-color: gray;
        }
        25% {
          background-color: red;
        }
        50% {
          background-color: red;
        }
        75% {
          background-color: gray;
        }
      }

      animation: pulse 3s infinite;
    }
  }
}
