.half-left {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  width: calc(50% - 10px);

  textarea {
    width: calc(100% - 5px);
    height: 100%;

    &:focus {
      outline: none;
    }
  }

  border-right: 1px solid #ddd;

  &.error {
    border-color: darkred;
  }
}

.half-right {
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  width: calc(50% - 2px);
}

.error-message {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: darkred;
}
