<h1 i18n>Dodaj nową grupę</h1>
<form [formGroup]="form" (ngSubmit)="submit()">
  <label for="name" i18n>Nazwa Grupy</label>
  <input id="name" formControlName="name">

  <label for="description" i18n>Opis Grupy <span>(widoczny dla wszystkich osób w grupie)</span></label>
  <input id="description" formControlName="description">

  <p>Możliwości grupy</p>

  <h2 i18n>Osoby należące do grupy</h2>
  <s4e-check-box-list [items]="users$ | async" formControlName="users"></s4e-check-box-list>
  <ng-template #groupsLoading>
    Ładowanie...
  </ng-template>

  <button type="submit" i18n>Zapisz</button>
  <a routerLink=".." queryParamsHandling="preserve" i18n>Anuluj</a>
</form>
