<s4e-generic-modal [buttonX]="true" [modalId]="modalId">
  <div class="s4e-modal-header" i18n>{{ !!group ? 'Edytuj' : 'Dodaj' }} grupę</div>
  <div class="s4e-modal-body">
    <section class="page__content">
      <form [formGroup]="form" class="page__form">
        <ul>
          <li>
            <label for="name" i18n>Nazwa Grupy</label>
            <input id="name" type=text  formControlName="name">
          </li>
          <li>
            <label for="description" i18n>Opis Grupy <span>(widoczny dla wszystkich osób w grupie)</span></label>
            <textarea id="description" formControlName="description"></textarea>
          </li>
          <li>
            <label>Możliwości grupy</label>
          </li>
          <li>
            <strong i18n>Osoby należące do grupy</strong>
            <s4e-check-box-list [items]="users$ | async" formControlName="membersEmails"></s4e-check-box-list>
            <ng-template #groupsLoading>
              Ładowanie...
            </ng-template>
          </li>
        </ul>
      </form>
    </section>
  </div>
  <div class="s4e-modal-footer">
    <button class="button button--primary" (click)="submit()" data-test="submit" i18n>Zapisz</button>
    <button class="button button--secondary" (click)="dismiss()" i18n>Anuluj</button>
  </div>
</s4e-generic-modal>
