#map {
  position: absolute;
  top: 0;
  left: 390px;
  width: calc(100% - 390px);
  bottom: 0;
  z-index: 0;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background-color: white;
  opacity: 0.4;
}
