@import "../../../../../scss/variables";

.icon__visibility {
  margin-left: auto;
}

.list > .list__item {

  cursor: pointer;

  .icon__visibility {
    visibility: hidden;
  }

  &.active
    .icon__visibility {
      visibility: visible;
    }

}
