@import "../../../../../scss/variables";

:host {
  .products {
    background: $color-white;
    position: relative;


  }
}

.icon__visibility {
  margin-left: auto;
  font-size: 0.875rem;
}

.products__visibility__spinner {
  margin-left: auto;
  font-size: 0.875rem;
  padding: 5px 6px 4px !important;
}

.list > .list__item {
  i.fas.fa-star {
    color: $color-yellow;
  }

  i.far.fa-star {
    color: lightgray;
  }

  .active.list__name {
    font-weight: bold;
  }
}

.item-fav-spinner {
  padding: 5px 6px 4px !important;
}
