<header class="box__header">
  <span class="box__title">{{caption}}</span>
  <span class="box__hint">
    <a href="#">{{help}}</a>
  </span>
</header>
<section class="box__content">
  <ul class="list">
    <li class="list__item" [ngClass]="{active: item.active}" role="menuitem" *ngFor="let item of items">
      <button *ngIf="hasFavourite" (click)="isFavouriteSelected.emit({ID: item.cid, isFavourite: !item.favourite}); item.favourite = !item.favourite">
        <i *ngIf="!item.favourite" class="far fa-star e2e-non-favourite-btn"></i>
        <i *ngIf="item.favourite" class="fas fa-star e2e-favourite-btn"></i>
      </button>
      <button class="list__icon" (click)="itemSelected.emit(item.cid)">
        <img src="../../../../../assets/images/ico_product_default.png" alt="Default product icon" i18n-alt />
      </button>
      <button class="list__name" (click)="itemSelected.emit(item.cid)">
        {{item.caption}}
      </button>
      <button *ngIf="item.active" class="icon__visibility" (click)="itemSelected.emit(item.cid)">
        <i class="far fa-eye"></i>
      </button>
    </li>
  </ul>
</section>

