@import "../../../../../scss/variables";

.icon__visibility {
  margin-left: auto;
}

.list > .list__item {
  i.fas.fa-star {
    color: yellow;
  }

  i.far.fa-star {
    color: lightgray;
  }

  i {
    font-size: 19px;
    margin: 4px auto 9px auto;
  }

  .active.list__name {
    font-weight: bold;
  }
}
