<header class="content__header">
  <h1 i18n>Twój profil</h1>
</header>

<section class="content__details profile">
  <div class="profile__content ng-star-inserted" data-e2e="institution-details">
    <h2>Moje dane</h2>
    <ul>
      <li i18n>{{ userName$ | async }}</li>
      <li i18n>{{ userSurname$ | async }}</li>
      <li i18n>Email: {{ userEmail$ | async }}</li>
    </ul>
    <br />
    <button
      class="button button--default button--small"
      routerLink="/settings/change-password"
      queryParamsHandling="merge"
      data-e2e="go-to-password-change"
    >
      Zmień hasło
    </button>
  </div>
</section>

<s4e-generic-list-view *ngIf="!!(institutions$ | async) && (institutions$ | async).length > 0"
                       [loading]="isLoading$ | async"
                       [items]="institutions$ | async"
                       [error]="error$ | async"
                       [searchable]="true"
                       data-ut="institutions">
  <ng-container description></ng-container>
  <h2 caption-inside i18>
    <ng-container i18n>Jesteś przypisany do poniższych instytucji</ng-container>
  </h2>
  <ng-container description-inside>
    Klikając w jedną z poniższych instytucji możesz zobaczyć jej szczegóły.
  </ng-container>
  <ng-container search-label i18n>Szukaj instytucji:</ng-container>
  <ng-container table-header>
    <th i18n>Nazwa instytucji</th>
    <th i18n>Administrator</th>
  </ng-container>
  <ng-template let-inst="item">
    <td
      [style.padding-left.px]="(inst.ancestorDepth || 0) * 30 + 15"
      data-e2e="institution-name"
    >
      <a routerLink="../institution" queryParamsHandling="merge"
         [queryParams]="{institution: inst.slug}">{{inst.name}}</a></td>
    <td>
      {{ isManagerOf(inst) ? 'tak' : 'nie' }}
    </td>
  </ng-template>
</s4e-generic-list-view>

<section class="content__details profile">
  <div class="profile__content ng-star-inserted" data-e2e="institution-details">
    <h2>Usuwanie konta</h2>
    <p>
      Podając hasło możesz usunąć konto i wszystkie dane w aplikacji Sat4Envi z nim powiązane.
      Pamiętaj, że jest to nieodwracalna decyzja!
    </p>
    <form class="content__form informational-form" [formGroup]="form" (ngSubmit)="removeAccount()">
      <ext-input
        formControlName="password"
        label="Hasło"
        type="password"
        placeholder="Hasło"
        auto
        [required]="true"
        i18n-label
      ></ext-input>
      <br />
      <button
        class="button button--error button--small"
        type="submit"
      >
        Usuń konto
      </button>
    </form>
  </div>
</section>

<div class="content__image content__image--profile"></div>
