<h1 i18n>Twój profil</h1>
<br />

<section class="content__details profile">
  <div class="profile__content ng-star-inserted" data-e2e="institution-details">
    <h2>Moje dane</h2>
    <p i18n>Imię: {{ userName$ | async }}</p>
    <p i18n>Nazwisko: {{ userSurname$ | async }}</p>
    <p i18n>Email: {{ userEmail$ | async }}</p>
    <button
      class="button button--secondary button--small"
      routerLink="/settings/change-password"
      queryParamsHandling="merge"
      data-e2e="go-to-password-change"
    >
      Zmień hasło
    </button>
  </div>
</section>

<section class="content__details profile">
  <div class="profile__content ng-star-inserted" data-e2e="institution-details">
    <h2>Usuwanie konta</h2>
    <form class="content__form informational-form" [formGroup]="form" (ngSubmit)="removeAccount()">
      <ext-input
        formControlName="password"
        label="Hasło"
        type="password"
        placeholder="Hasło"
        [required]="true"
        i18n-label
      ></ext-input>
      <br />
      <button
        class="button button--secondary button--small"
        type="submit"
      >
        Usuń konto
      </button>
    </form>
  </div>
</section>

<s4e-generic-list-view *ngIf="!!(institutions$ | async) && (institutions$ | async).length > 0"
                       [loading]="isLoading$ | async"
                       [items]="institutions$ | async"
                       [error]="error$ | async"
                       [searchable]="true">
  <ng-container description></ng-container>
  <h1 caption i18>
    <ng-container i18n>Lista instytucji</ng-container>
  </h1>
  <ng-container search-label i18n>Szukaj instytucji:</ng-container>
  <ng-container table-header>
    <th i18n>Nazwa instytucji</th>
    <th i18n>Administrator</th>
  </ng-container>
  <ng-template let-inst="item">
    <td
      [style.padding-left.px]="(inst.ancestorDepth || 0) * 30 + 15"
      data-e2e="institution-name"
    >
      <a routerLink="../institution" queryParamsHandling="merge"
         [queryParams]="{institution: inst.slug}">{{inst.name}}</a></td>
    <td>
      {{ isManagerOf(inst) ? 'tak' : 'nie' }}
    </td>
  </ng-template>
</s4e-generic-list-view>

<div class="content__image content__image--profile"></div>
