<header class="content__header">
  <h1 i18n>Twój profil</h1>
</header>

<section class="content__details content__details--50 profile">
  <div class="profile__content">
    <p *ngIf="!(isLoggedIn$ | async); else userDetails" i18n>
      Zaloguj się by zobaczyć swój profil
    </p>
    <ng-template #userDetails>
      <h2>Jan Kowalski</h2>
      <p i18n>Email: {{ userEmail$ | async }}</p>
      <p>
        Jesteś administratorem instytucji <a href="#">Ochotnicza Straż Pożarna, Kraków i 5 innych</a>
      </p>
    </ng-template>

  </div>
  <footer>
    <button class="button button--secondary button--small" routerLink="/settings/change-password" queryParamsHandling="merge">
      Zmień hasło
    </button>
  </footer>
</section>
<div class="content__image content__image--profile"></div>
