<div class="settings">
  <button
    id="settings-menu-button"
    class="navigation__open--mobile"
    [ngClass]="{'open': isMobileSidebarOpen}"
    (click)="isMobileSidebarOpen = !isMobileSidebarOpen"
  ></button>

  <nav
    class="navigation"
  >
    <div class="logo">
    </div>
    <header class="navigation__institution">
      <span>Wybrana instytucja</span>
      <p *ngIf="showInstitutions$ | async">Straż pożarna OHP</p>
      <a [routerLink]="['./institutions']"
         queryParamsHandling="merge"
         i18n>Zmień</a>
    </header>
    <ul class="navigation__list">
      <li *ngIf="showInstitutions$ | async" routerLinkActive="active"
          data-e2e="institutions">
        <a [routerLink]="['./institutions']"
           queryParamsHandling="merge"
           i18n>Lista instytucji</a>
      </li>
      <li routerLinkActive="active" data-e2e="profile">
        <a
          [routerLink]="['./profile']"
          queryParamsHandling="merge"
          i18n
        >
          Twój profil
        </a>
      </li>
      <li>
        <button [routerLink]="['/map/products']" i18n class="button button--borderPrimary button--small">Wróć do mapy</button>
      </li>
      <li>
        <a href="javascript:void(0)" routerLink="/logout" i18n>Wyloguj</a>
      </li>
    </ul>
  </nav>

  <nav class="navigation--mobile" [ngClass]="{'open': isMobileSidebarOpen}">
    <ul class="navigation__list">
      <li *ngIf="showInstitutions$ | async" routerLinkActive="active"
          data-e2e="institutions">
        <a [routerLink]="['./institutions']"
           queryParamsHandling="merge"
           i18n>Lista instytucji</a>
      </li>
      <li routerLinkActive="active" data-e2e="profile">
        <a
          [routerLink]="['./profile']"
          queryParamsHandling="merge"
          i18n
        >
          Twój profil
        </a>
      </li>
      <li>
        <button [routerLink]="['/map/products']" i18n class="button button--borderPrimary button--small">Wróć do mapy</button>
      </li>
      <li>
        <a href="javascript:void(0)" routerLink="/logout" i18n>Wyloguj</a>
      </li>
    </ul>
  </nav>
  <section class="content">
    <s4e-breadcrumb></s4e-breadcrumb>
    <router-outlet></router-outlet>
  </section>
</div>
