<div class="container">
  <nav class="navigation">
    <ul class="navigation__list">
      <li *ngIf="showInstitutions$ | async">
        <a href="javascript:void(0)" (click)="openParentInstitutionModal()">Show parent institution</a>
      </li>

      <li *ngIf="showInstitutions$ | async" routerLinkActive="active"><a [routerLink]="['./dashboard']" queryParamsHandling="merge" i18n>Dashboard</a></li>
      <li *ngIf="showInstitutions$ | async" routerLinkActive="active"><a [routerLink]="['./groups']" queryParamsHandling="merge" i18n>Grupy</a></li>
      <li *ngIf="showInstitutions$ | async" routerLinkActive="active"><a [routerLink]="['./people']" queryParamsHandling="merge" i18n>Ludzie</a></li>
      <li *ngIf="showInstitutions$ | async" routerLinkActive="active"><a [routerLink]="['./institution']" queryParamsHandling="merge" i18n>Profil Instytucji</a></li>
      <li routerLinkActive="active"><a [routerLink]="['./profile']" queryParamsHandling="merge" i18n>Twój profil</a></li>
    </ul>
    <section class="login">
      <ul>
        <li>
          <button [routerLink]="['/']" i18n class="button button--borderPrimary button--small">Wróć do mapy</button>
        </li>
        <li>
          <a href="javascript:undefined" routerLink="/logout" i18n>Wyloguj</a>
        </li>
      </ul>
    </section>
  </nav>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</div>
