# compiled output
/target
/tmp
/out-tsc
/dist
# dependencies
/node_modules

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings
/.idea
/cypress/integration/examples/
/cypress/screenshots
/cypress/videos
/.angulardoc.json
/src/environments/base.ts
