# compiled output
/target
/tmp
/out-tsc

# dependencies
/node_modules

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings
/idea
/.idea
/cypress/integration/examples/
/cypress/screenshots
/cypress/videos
