<form [formGroup]="form" (ngSubmit)="accept()">
  <s4e-generic-modal [buttonX]="true" [modalId]="registeredId">
    <div class="s4e-modal-header" i18n>Zapisz konfigurację widoku</div>
    <div class="s4e-modal-body report">
      <aside>
        <strong i18n>Podgląd widoku konfiguracji</strong>
        <div #reportTemplate class="report-template">
          <img id="map-miniature" [src]="viewConfig.thumbnail" />
        </div>
      </aside>
      <div class="form">
        <label i18n>Szczegóły widoku</label>
        <table class="modal__table modal__table--saveconfig">
          <tr>
            <td>Produkt</td>
            <td i18n>{{ viewConfig.configurationNames.product || 'Nie wybrano'}}</td>
          </tr>
          <tr>
            <td>Data</td>
            <td i18n>{{viewConfig.configurationNames.selectedDate || 'Nie wybrano'}}</td>
          </tr>
          <tr>
            <td>Nakładki</td>
            <td i18n>{{viewConfig.configurationNames.overlays.toString() || 'Nie wybrano'}}
          </tr>
        </table>
        <label i18n>Nazwa własna konfiguracji</label>
        <input formControlName="configurationName" #configurationNameRef type="text"/>
        <span class="error"
              *ngIf="form.controls.configurationName.hasError('required') && form.controls.configurationName.touched"
              i18n>To pole jest wymagane</span>
      </div>
    </div>
    <div class="s4e-modal-footer">
      <div *ngIf="error$ | async" class="alert alert-danger">
        <ng-container>{{error$ | async}}</ng-container>
      </div>
      <fa-icon [hidden]="!(loading$ | async)" [icon]="['fas', 'circle-notch']" [spin]="true"></fa-icon>
      <button class="button button--primary button--small" type="submit" *ngIf="!(loading$ | async)" i18n>Zapisz konfigurację</button>
      <button class="button button--cancel button--small" type="button" *ngIf="!(loading$ | async)" (click)="dismiss()" i18n>Anuluj
      </button>
    </div>
  </s4e-generic-modal>
</form>
