:host {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  display: block;
  > .hide {
    display: none;
  }
  > div > input[type='range'] {
    display: block;
  }
  > div:first-of-type {
    padding: 5px;
    cursor: pointer;
  }
  > div:nth-of-type(2) {
    border-top: 1px solid #ddd;
    padding: 5px;
  }
}
