<h1 i18n>Dodaj nową osobę</h1>
<form [formGroup]="form">
<label for="name" i18n>Imię</label>
<input id="name" formControlName="name">

<label for="surname" i18n>Nazwisko</label>
<input id="surname" formControlName="surname">

<label for="email" i18n>Email</label>
<input id="email" formControlName="email">

<h2 i18n>Grupy</h2>
  <s4e-check-box-list [items]="groups$ | async" formControlName="groups"></s4e-check-box-list>
  <ng-template #groupsLoading>
    Ładowanie...
  </ng-template>

  <button type="submit" (click)="saveAndNext()" i18n>Zapisz i dodaj kolejną osobę</button>
  <button type="submit" (click)="saveAndBack()" i18n>Zapisz i zamknij stronę</button>
  <a routerLink=".." queryParamsHandling="preserve" i18n>Anuluj</a>
</form>
