<div class="breadcrumb">
  <span i18n>Tutaj jesteś: </span>
  <span>
    <a routerLink="/settings" i18n>Start</a> >
  </span>
  <span>
    <a routerLink="manage-institutions" i18n>Zarzadzaj instytucjami</a> >
  </span>
  <span i18n>Dodaj instytucję</span>
</div>

<br><br>
<h1 i18n>Dodaj instytucję</h1>
<br><br>

<form class="form informational-form" [formGroup]="form">
  <div class="alert alert-danger" *ngIf="error$ | async" data-e2e="alert-message">
    <ng-container [ngSwitch]="(error$ | async).status">
      <ng-container *ngSwitchCase="400" i18n>Niepoprawnie wypełniony formularz</ng-container>
      <ng-container *ngSwitchCase="500" i18n>Wystąpił błąd serwera</ng-container>
      <ng-container *ngSwitchDefault i18n>Nieoczekiwany błąd</ng-container>
    </ng-container>
  </div>

  <div class="alert alert-danger" *ngIf="form.errors" data-e2e="alert-message-details">
    <ul>
      <li *ngFor="let error of (form.errors | errorKeys)" [ngSwitch]="error">
        <ng-container *ngSwitchDefault i18n>Nieoczekiwany błąd</ng-container>
      </li>
    </ul>
  </div>

  <p i18n><b>Instytucja nadrzędna (rodzic)</b></p>
  <p i18n>Klikając w poniższe pole można zmienić dla nowo tworzonej instytucji jednostkę narzędną.</p>
  <input
    type="text"
    formControlName="parentInstitutionName"
    placeholder="Wybierz instytucję"
    (click)="openParentInstitutionModal()"
    data-e2e="parent-institution-name-input"
    i18n
  />
  <input type="hidden" formControlName="parentInstitutionSlug" i18n />
  <ul s4e-form-error [control]="form.controls.parentInstitutionSlug"></ul>

  <h4>Nazwa i dane teleadresowe</h4>

  <label for="name" i18n>Nazwa instytucji</label>
  <input
    type="text"
    formControlName="name"
    id="name"
    name="name"
    data-e2e="name-input"
    i18n
  />
  <ul s4e-form-error [control]="form.controls.name"></ul>

  <label for="address" i18n>Ulica</label>
  <input
    type="text"
    formControlName="address"
    id="address"
    name="address"
    data-e2e="address-input"
    i18n
  />
  <ul s4e-form-error [control]="form.controls.address"></ul>

  <label for="zip-code" i18n>Kod pocztowy</label>
  <input
    type="string"
    formControlName="postalCode"
    id="zip-code"
    name="zip-code"
    placeholder="xx-xxx"
    data-e2e="zip-code-input"
    i18n
  />
  <ul s4e-form-error [control]="form.controls.postalCode"></ul>

  <label for="city" i18n>Miejscowość</label>
  <input
    type="text"
    formControlName="city"
    id="city"
    name="city"
    data-e2e="city-input"
    i18n
  />
  <ul s4e-form-error [control]="form.controls.city"></ul>

  <label for="phone" i18n>Telefon</label>
  <input
    type="text"
    formControlName="phone"
    id="phone"
    name="phone"
    data-e2e="phone-input"
    i18n
  />
  <ul s4e-form-error [control]="form.controls.phone"></ul>

  <label for="additional-phone" i18n>Telefon dodatkowy</label>
  <input type="text" formControlName="secondaryPhone" id="additional-phone" name="additional-phone" i18n />
  <ul s4e-form-error [control]="form.controls.secondaryPhone"></ul>

  <img
    *ngIf="!!form.controls.emblem.value && form.controls.emblem.value !== ''"
    [src]="'data:image/png;base64,' + form.controls.emblem.value"
    height="200"
    data-e2e="emblem-image"
  />
  <input type="hidden" formControlName="emblem" />
  <p>
    Logo / Herb instytucji
    <span>(png, jpg) min. 130x130px</span>
  </p>
  <label for="emblem" i18n>Wybierz zdjęcie</label>
  <input
    hidden="true"
    type="file"
    accept="image/*"
    id="emblem"
    name="emblem"
    data-e2e="emblem-input"
    (change)="loadLogo($event)"
  />
  <ul s4e-form-error [control]="form.controls.emblem"></ul>

  <h4 i18n>Administrator instytucji</h4>
  <p i18n>
    W tym miejscu możesz dodać osobę, która będzie zarządzać instytucją.
    Wpisz e-mail tej osoby. Możesz jednocześnie wysłać jej powiadomienie o nadaniu
    uprawnień. Takiej osobie możesz nadać uprawnienia później.
  </p>
  <label for="administrator-email" i18n>E-mail administratora</label>
  <input
    type="email"
    formControlName="institutionAdminEmail"
    id="administrator-email"
    name="administrator-email"
    data-e2e="email-input"
    i18n
  />
  <ul s4e-form-error [control]="form.controls.institutionAdminEmail"></ul>

  <div class="form-submit">
    <button
      type="submit"
      (click)="addInstitution()"
      data-e2e="submit-btn"
      i18n
    >
      Zapisz instytucję
    </button>
    <button type="button" (click)="resetForm()" i18n>Anuluj</button>
  </div>
</form>
