@import "../../../scss/variables";

.zk-options {
  position: absolute;
  right: 10px;
  top: 80px;
  display: block;
  background-color: white;
  width: 300px;
  height: 300px;
  padding: 15px;
  z-index: 30;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.0;
  z-index: 20;
}

.sidebar {
  background: $color-grey-primary;
  -webkit-box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.37);
  box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.37);
  width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  z-index: 2;
  padding: 15px;
  overflow-x: scroll;

  .switch {
    margin: -15px;
    margin-bottom: 15px;
    padding: 13px 15px;
    background: $color-white;
    display: flex;
    flex-direction: row;

    li {
      text-align: center;
      width: 100%;
      text-transform: uppercase;

      a {
        color: $color-grey-tertiary;
        font-family: $font-secondary;
        font-size: 0.875rem;
        font-weight: bold;
        opacity: 0.6;
      }

      &.active {
        a {
          opacity: 1;
        }
      }
    }
  }
}

//.login {
//  padding: 40px 15px 10px 15px;
//  margin-top: auto;
//  align-self: center;
//  text-align: center;
//  background: $color-white;
//  position: fixed;
//  bottom: 0;
//  width: 360px;
//  box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
//
//  a:not(.button) {
//    color: $color-grey;
//    text-transform: uppercase;
//    font-weight: bold;
//    font-size: 0.75rem;
//  }
//
//  li {
//    margin-bottom: $space-xlarge;
//    font-weight: 400;
//  }
//}


.dropdown_button {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: $border-radius-circle;
  box-shadow: 0 0 35px -10px rgba(0,0,0, 0.3);
  z-index: 1;

  &--zk {
    background: url(/../assets/images/ico_bolt.svg) $color-white no-repeat center;
    top: 12px;
    right: 150px;
  }

  &--login {
    background: url(/../assets/images/ico_lock.svg) $color-white no-repeat center;
    top: 12px;
    right: 70px;
  }
}

.dropdown_content {
  background: $color-white;
  position: absolute;
  top: 9px;
  border-radius: $border-radius-default;
  display: flex;
  flex-direction: column;
  padding: $space-xsmall;
  width: 215px;
  box-shadow: 0 0 35px -10px rgba(0,0,0, 0.3);
  z-index: 2;

  &--zk {
    right: 148px;
  }

  &--login {
    right: 68px;
  }

  .dropdown_header {
    background: $color-grey-primary;
    border-radius: $border-radius-circle;
    text-transform: uppercase;
    font-size: 0.75rem;
    color: $color-black;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 calc(100% - 50px) 0 $space-default;
  }

  .dropdown_close {
    background: url(/../assets/images/ico_close.svg) $color-white no-repeat center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1px;
    right: 1px;
    border-radius: $border-radius-circle;
    cursor: pointer;
  }

  ul {
    margin-top: $space-xsmall;

    li {
      padding: $space-small $space-default;
      a {
        cursor: pointer;
        color: $color-grey;
        font-size: 0.875rem;

        &:hover {
          color: $color-black;
        }

        &.disabled {
          opacity: 0.4;
        }
      }
    }
  }
}
