@import "../../../scss/variables.scss";

nav {
  background: #F2F2F2;
  -webkit-box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.37);
  box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.37);
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  z-index: 2;
  padding: 15px;

  section {
    clear:both;
    border-radius: $border-radius-default;
    margin-bottom: $space-xlarge;

    &.search {
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
      -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
      box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
      background: #fff;
      padding: $space-small;

      .search__input {
        width: 85%;
        float:left;
        font-size: 0.875rem;
      }

      .search__button {
        float: right;
        width: 10%;
      }
    }

    &.login {
      align-self: flex-end;
      margin-top: auto;
    }


  }

}



