@import "../../../scss/variables";

.zk-options {
  position: absolute;
  right: 10px;
  top: 80px;
  display: block;
  background-color: white;
  width: 300px;
  height: 300px;
  padding: 15px;
  z-index: 30;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.0;
  z-index: 20;
}

.dropdown {

  &__button {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: $border-radius-circle;
    box-shadow: 0 0 35px -10px rgba(0,0,0, 0.3);
    z-index: 1;

    &--zk {
      background: url(/../assets/images/ico_bolt.svg) $color-white no-repeat center;
      top: 12px;
      right: 150px;
      background-size: 16px;
    }

    &--login {
      background: url(/../assets/images/ico_lock.svg) $color-white no-repeat center;
      top: 12px;
      right: 70px;
      background-size: 20px;
    }

    &--product {
      background: url(/../assets/images/ico_info.svg) $color-white no-repeat center;
      top: 12px;
      left: 430px;
      background-size: 10px;
    }
  }

  &__content {
    background: $color-white;
    position: absolute;
    top: 9px;
    border-radius: $border-radius-default;
    display: flex;
    flex-direction: column;
    padding: $space-xsmall;
    width: 215px;
    box-shadow: 0 0 35px -10px rgba(0,0,0, 0.3);
    z-index: 2;

    &--zk {
      right: 148px;
    }

    &--login {
      right: 68px;
    }

    &--product {
      left: 430px;
      width: 350px;

      .dropdown__header {
        padding: 0;
        padding-left: 55px;
      }

      .dropdown__close {
        left: 0;
      }

      h2 {
        font-size: 1.375;
        font-family: $font-secondary;
        margin: $space-large $space-default;
      }

      p {
        margin: 0;
      }
    }

    ul {
      margin-top: $space-xsmall;

      li {
        padding: $space-small $space-default;
        a {
          cursor: pointer;
          color: $color-grey;
          font-size: 0.875rem;

          &:hover {
            color: $color-black;
          }

          &.disabled {
            opacity: 0.4;
          }
        }
      }
    }
  }

  &__header {
    background: $color-grey-primary;
    border-radius: $border-radius-circle;
    text-transform: uppercase;
    font-size: 0.75rem;
    color: $color-black;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 calc(100% - 50px) 0 $space-default;
  }

  &__close {
    background: url(/../../../assets/images/ico_close.svg) $color-white no-repeat center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 3px;
    right: 1px;
    border-radius: $border-radius-circle;
    cursor: pointer;
    background-size: 12px;
  }

  &__description {
    margin: -($space-xsmall);
    margin-top: 0;
    padding: $space-default;
    background: $color-grey-secondary;
    line-height: 1.4;
    font-size: 0.875rem;
  }
}


.sidebar-content {
  //margin-right: -15px;
  //margin-left: -15px;
  overflow-y: auto;
  width: calc(100% - 30px);
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
