<s4e-view-manager [overlays]="overlays$ | async"
                  [loading]="viewManagerLoading$ | async"
                  [overlaysLoading]="false"
                  [products]="productsTypeList$ | async"
                  [productTypeLoading]="productTypeLoading$ | async"
                  (selectOverlay)="selectOverlay($event)"
                  (selectProductType)="selectProductType($event)">
</s4e-view-manager>
`
<s4e-timeline class="timeline"
              [products]="products$ | async"
              [loading]="productsAreLoading$ | async"
              (selectProduct)="selectProduct($event?.id)">
</s4e-timeline>

<s4e-map [overlays]="overlays$ | async" [activeProduct]="activeProduct$ | async"></s4e-map>
