<router-outlet></router-outlet>
<s4e-modal-outlet></s4e-modal-outlet>
<notification-outlet></notification-outlet>
<button *ngIf="PRODUCTION === false"
        class="dev-reset-btn btn btn-warning btn-sm"
        i18n-tooltip
        tooltip="Odśwież stan REDUXa (DEV MODE)"
        placement="left"
        (click)="devRefreshState()">
  <span class="fas fa-xs fa-redo-alt"></span>
</button>

<button *ngIf="PRODUCTION === false"
        class="dev-notifications-button btn btn-warning btn-sm"
        i18n-tooltip
        tooltip="Pokaż notyfikacje (DEV MODE)"
        placement="left"
        (click)="devShowNotifications()">
  <span class="fas fa-xs fa-exclamation"></span>
</button>
