.dev-reset-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 5000;
}

.dev-notifications-button {
  position: fixed;
  bottom: 40px;
  right: 10px;
  z-index: 5000;
}

.dev-modal-demo-btn {
  position: fixed;
  bottom: 70px;
  right: 10px;
  z-index: 5000;
}
