@import "../../../../scss/variables";

:host {
  section,
  .section {
    clear:both;
    border-radius: $border-radius-default;
    margin-bottom: $space-xlarge;
    overflow:hidden;
    display: block;

    &.search {
      background: #fff;
      box-shadow: $shadow-primary;
      display: flex;
      flex-direction: row;
      align-content: center;
      padding: $space-default;

      .search__input {
        width: 100%;
        font-size: 0.875rem;

        &::placeholder {
          font-style: italic;
          color: $color-grey;
        }
      }
      .search__button {
        width: 30px;
        margin-left: auto;

        img {
          float:right;
          margin-top: 1px;
        }
      }

      .reset_search_button {
        width: 30px;
        margin-left: auto;

        img {
          float:right;
          margin-top: 1px;
        }
      }

    }
  }
}

.searchResults {
  position: absolute;
  background: #ffffff;
  opacity: 0.9;
  border-radius: 5px;
  left: 400px;
  top: 15px;
  z-index: 10;
  width: max-content;
}
