<ng-container *ngIf="!(loading$ | async); else loadingRef">
    <s4e-search
      placeholder="Wpisz szukaną miejscowość..."
      [query]="searchResultsQuery"
      [store]="searchResultsStore"
      [value]="searchValue"
      (valueChange)="searchForPlaces($event)"
      (selectResult)="navigateToPlace($event)"
    >
      <ng-template #result let-result>
        <span class="name">{{ result.name }}</span>
        <span class="type">{{ result.type }}</span>
        <span class="voivodeship">{{ result.voivodeship}}</span>
      </ng-template>
    </s4e-search>

  <s4e-items-picker
    #picker
    mwlResizable
    resizeCursorPrecision="10"
    [resizeEdges]="{ top: true }"
    (resizeEnd)="onResizeEnd($event)"
    class="section layers"
    [loading]="overlaysLoading$ | async"
    [items]="overlays$ | async"
    (itemSelected)="selectOverlay($event)"
    data-e2e="layers-list"
  >
  <div s4e-caption i18n>
    <span>Warstwy</span>
    <button *ngIf="isLoggedIn" (click)="showOverlayListModal()" class="layers__manager" data-e2e="sidebar-management-btn">Zarządzaj</button>
  </div>
  </s4e-items-picker>

  <div class="products-list">
    <div *ngIf="isLoggedIn"  class="products-filtration">
      <a data-e2e="product-list"
         [ngClass]="{'active': !isFavouriteFiltration}" (click)="setViewModeToFavourite(false)" i18n>Lista produktów</a>
      <a data-e2e="favourite-list"
         [ngClass]="{'active': isFavouriteFiltration}" (click)="setViewModeToFavourite(true)">
        <span class="badge"><small data-e2e="favourite-count">{{ favouriteProductsCount$ | async }}</small></span>
        <ng-container i18n>Ulubione</ng-container>
      </a>
    </div>
    <ng-container *ngIf="isLoggedIn && isFavouriteFiltration && (favouriteProductsCount$ | async) === 0; else products">
      <div class="products products--favourite">
        <header>
          <span class="products__title products__title--favourite">Ulubione</span>
        </header>
        <section>
          <div class="empty">
            <p i18n>Jeszcze nie zostały dodane żadne ulubione produkty.</p>
            <p i18n>Może to zrobić klikając gwiazdkę na liście produktów</p>
          </div>
        </section>
      </div>
    </ng-container>
    <ng-template #products>
      <s4e-items-picker
        *ngFor="let categoryProducts of (groupedProducts$ | async)"
        class="section products"
        [loading]="productsLoading$ | async"
        [items]="categoryProducts"
        [hasFavourite]="isLoggedIn"
        [collapsed]="categoryProducts[0].category.collapsed"
        (collapse)="productService.toggleCategoryCollapse(categoryProducts[0].category.id)"
        (itemSelected)="selectProduct($event)"
        (isFavouriteSelected)="isFavouriteProduct($event.ID, $event.isFavourite)"
      >
        <ng-container s4e-caption i18n>
          <img src="{{ categoryProducts[0].category?.iconPath }}" width="20" />
          <p>{{ categoryProducts[0].category.label }}</p>
        </ng-container>
      </s4e-items-picker>
    </ng-template>
    <div [s4eDynamicSpace]="pickerRef"></div>
  </div>

</ng-container>
<ng-template #loadingRef>
  <div class="loading loading--form">
    <div class="loading__item"></div>
    <div class="loading__item"></div>
    <div class="loading__item"></div>
    <div class="loading__item"></div>
    <div class="loading__item"></div>
    <div class="loading__item"></div>
  </div>
</ng-template>
