<ng-container *ngIf="!(loading$ | async); else loadingRef">
  <s4e-search
    placeholder="Wpisz szukaną miejscowość..."
    [searchResults]="searchResults$ | async"
    [isSearchLoading]="searchResultsLoading$ | async"
    [isSearchOpen]="searchResultsOpen$ | async"
    [value]="searchValue"

    (selectResult)="navigateToPlace($event)"
    (refreshResults)="searchForPlaces($event)"
    (resetSearch)="resetSearch()"
    (selectFirstResult)="selectFirstResult()"
  >
    <ng-template #result let-result>
      <span class="name">{{ result.name }}</span>
      <span class="type">{{ result.type }}</span>
      <span class="voivodeship">{{ result.voivodeship}}</span>
    </ng-template>
  </s4e-search>

  <div class="products-list">
    <s4e-items-picker class="section products"
                        caption="Produkty"
                        i18n-caption
                        [loading]="productsLoading$ | async"
                        [items]="products$ | async"
                        [hasFavourite]="isLoggedIn"
                        (itemSelected)="selectProduct($event)"
                        (isFavouriteSelected)="isFavouriteProduct($event.ID, $event.isFavourite)">
    </s4e-items-picker>
  </div>

  <s4e-items-picker class="section layers"
                      caption="Warstwy"
                      i18n-caption
                      [loading]="overlaysLoading$ | async"
                      [items]="overlays$ | async"
                      (itemSelected)="selectOverlay($event)">
  </s4e-items-picker>

</ng-container>
<ng-template #loadingRef>
  <div class="loading loading--form">
    <div class="loading__item"></div>
    <div class="loading__item"></div>
    <div class="loading__item"></div>
    <div class="loading__item"></div>
    <div class="loading__item"></div>
    <div class="loading__item"></div>
  </div>
</ng-template>
