<ng-container *ngIf="!(loading$ | async); else loadingRef">
  <section class="section search">
    <input class="search__input" placeholder="Wpisz szukaną miejscowość..." i18n-placeholder #searchPlacesInput
           [formControl]="searchFc"/>
    <button class="reset_search_button" *ngIf="!(searchFc.value == '')" (click)="resetSelectedLocation()">
      <img src="../../../../assets/images/ico_x.svg" alt="Clear" i18n-alt/>
    </button>
    <button class="search__button" (click)="selectFirstResult()" [disabled]="searchFc.value == ''">
      <img src="../../../../assets/images/ico_magnifying.svg" alt="Search icon" i18n-alt/>
    </button>
  </section>
  <s4e-search-results *ngIf="searchResultsOpen$ | async"
                      [searchResults]="searchResults$ | async"
                      [loading]="searchResultsLoading$ | async"
                      (placeSelected)="navigateToPlace($event)"
                      class="searchResults">
  </s4e-search-results>

  <div class="products-list">
    <s4e-items-picker class="section products"
                        caption="Produkty"
                        i18n-caption
                        [loading]="productsLoading$ | async"
                        [items]="products$ | async"
                        [hasFavourite]="isLoggedIn"
                        (itemSelected)="selectProduct($event)"
                        (isFavouriteSelected)="isFavouriteProduct($event.ID, $event.isFavourite)">
    </s4e-items-picker>
  </div>

  <s4e-items-picker class="section layers"
                      caption="Warstwy"
                      i18n-caption
                      [loading]="overlaysLoading$ | async"
                      [items]="overlays$ | async"
                      (itemSelected)="selectOverlay($event)">
  </s4e-items-picker>

</ng-container>
<ng-template #loadingRef>
  <div class="loading loading--form">
    <div class="loading__item"></div>
    <div class="loading__item"></div>
    <div class="loading__item"></div>
    <div class="loading__item"></div>
    <div class="loading__item"></div>
    <div class="loading__item"></div>
  </div>
</ng-template>
