@import "../../../scss/variables";

section, .section {
  clear:both;
  border-radius: $border-radius-default;
  display: block;
  position: relative;

  &.search {
    background: #fff;
    box-shadow: $shadow-primary;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: $space-default;

    .search__input {
      width: 100%;
      font-size: 0.938rem;

      &::placeholder {
        font-style: italic;
        color: $color-grey;
      }
    }
    .search__button {
      width: 30px;
      margin-left: auto;
    }

    .reset_search_button {
      width: 30px;
      margin-left: auto;
      padding-right: 10px;
      margin-right: 5px;
      position: relative;

      &:before {
        content: " ";
        width: 1px;
        background: $color-grey-secondary;
        position: absolute;
        height: 32px;
        right: 0;
        top: -5px;
        display: block;
        z-index: 2;
      }
    }

  }
}

.searchResults {
  padding: 10px 0;
  background: $color-white;
  border-radius: 0 0 $border-radius-default $border-radius-default;
  border-top: 1px solid $color-grey-secondary;
  z-index: 10;
  box-shadow: $shadow-primary;
  position: absolute;

  .searchResult__loader {
    padding: 0 15px;
  }

  .searchResult__item {
    height: 20px;
    margin: 2px;
    padding: 2px 4px;
    border-radius: 4px;
  }

  .search__notfound,
  .search__loading {
    font-size: 0.875rem;
    font-weight: 600;
    margin-left: $space-default;
    text-transform: uppercase;
    color: $color-grey;
  }

  ul {
    li {
      padding: 7px 15px 3px 15px;
      font-size: 0.938rem;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        background: $color-grey-primary;
        cursor: pointer;
      }
    }
  }
}
