<div
  s4eEvents
  (insideClick)="areResultsOpen = true"
  (outsideClick)="areResultsOpen = false"
  (routerChange)="areResultsOpen = false"
>
  <section class="section search">
    <input
      (keydown.enter)="select(query.getActive())"
      (keydown.arrowup)="activatePreviousResult()"
      (keydown.arrowdown)="activateNextResult()"

      #search
      class="search__input"
      placeholder="{{ placeholder}}"
      i18n-placeholder
      [formControl]="searchFormControl"
      (focus)="valueChange.emit(searchFormControl.value)"
      data-e2e="search-input"
    />
    <button
      *ngIf="!!search.value.trim()"
      class="reset_search_button"
      (click)="resetSearchValue()"
      data-e2e="clear-search-btn"
    >
      <i class="fas fa-times"></i>
    </button>
    <button
      class="search__button"
      (click)="select(query.getActive())"
      [disabled]="!canSelectActiveResult"
      data-e2e="select-active-result-btn"
    >
      <i class="fas fa-search"></i>
    </button>
  </section>

  <div *ngIf="areResultsOpen">
    <div *ngIf="!isLoading; else emptyResultSet" class="searchResults">
      <div
        class="searchresult__container"
        data-e2e="search-results-list"
      >
        <div *ngIf="!hasResults">
          <span class="search__notfound"i18n>
            Nie znaleziono wynikow
          </span>
        </div>
        <ul>
          <li class="searchResult__item"
            *ngFor="let result of results"
            [ngClass]="{'active': isActive(result)}"
            (click)="select(result); store.setActive(result)"
            (focus)="store.setActive(result)"
            data-e2e="search-result"
          >
            <ng-container
              *ngTemplateOutlet="resultTemplate, context: { $implicit: result }"
            >
          </ng-container>
          </li>
        </ul>
      </div>

      <ng-template #emptyResultSet>
        <div class="searchResult__loader">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
          <span class="search__loading" i18n>Wczytywanie wyników</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
