<s4e-generic-modal [buttonX]="true" [modalId]="modalId">
  <div class="s4e-modal-header" i18n>Zaproś osobę do instytucji</div>
  <div class="s4e-modal-body">
    <p>
      Aby dodać nowego członka instytucji <strong>{{ institution?.name }}</strong> wprowadź w poniższym polu
      adres e-mail zapraszanej osoby.
    </p>
    <p>
      Portal użyje tego adresu do wysłania wiadomości e-mail z linkiem aktywacyjnym. Informację o zaakceptowaniu
      zaproszenia przez nowego członka instytucji możesz odczytać na liście osób.
    </p>
    <form [formGroup]="form" class="form">
      <ul>
        <li>
          <ext-input
            type="email"
            formControlName="email"
            label="Email"
            data-e2e="invitation-email-input"
            i18n
          ></ext-input>
        </li>
        <li>
          <label for="forAdmin" i18n>Zaproś jako administratora</label>
          <input
            type="checkbox"
            id="forAdmin"
            formControlName="forAdmin"
          />
        </li>
      </ul>
    </form>
  </div>
  <div class="s4e-modal-footer">
    <button
      type="submit"
      class="button button--secondary"
      (click)="send()"
      data-test="save"
      data-e2e="send-invitation-btn"
      i18n
    >
      Wyślij
    </button>
    <button class="button button--borderBlack" (click)="dismiss()" i18n>
      Anuluj
    </button>
  </div>
</s4e-generic-modal>
