/*
Styles for "static" pages before authorization
 */

@import "variables";

* {
  box-sizing: border-box;
}

body, html {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width:100%;


  .intro {
    display: flex;
    width: 40%;
    flex-direction: column;
    background: url("/../assets/images/bg_auth.png") no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 100px $space-default;

    &__content {
      width: 70%;
      margin: 0 auto;
      text-align: center;

      h1 {
        font-family: $font-secondary;
        font-size: 3.225rem;
        font-weight: 600;
        color: $color-white;
        line-height: 3.5rem;
      }

      p {
        color: $color-white;
        font-size: 1.25rem;
        line-height: 1.625rem;
        font-weight: 400;
        margin-top: 50px;
        opacity: 0.85;
      }
    }
  }

  .content {
    height: 100%;
    width: 59%;
    display: table;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;

    &__formContainer {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      padding-top: 100px;
      padding-bottom: 100px;

      form {
        padding: 35px;
        max-width: 600px;
        margin: 0 auto;

        .logo__partners {
          display: none;
        }
      }

      .form {
        &__element {
          margin-bottom: $space-xlarge;

          &:nth-child(3) {
            margin-bottom: 0;
          }
        }


      }

      label {
        font-size: 1rem;
        color: $color-grey;
        font-weight: 500;
        display: block;
        margin-bottom: $space-small;

      }

      input[type=text],
      input[type=password]{
        box-shadow: none;
        border: 1px solid $color-grey-secondary;
        padding: $space-default;
        width: 100%;
        z-index: 2;
        position: relative;
      }

      input.ng-invalid {
        border-bottom: 2px solid $color-error;
        margin-bottom: 3px;
      }


      [type="checkbox"]:not(:checked),
      [type="checkbox"]:checked {
        position: absolute;
        display: none;
      }

      [type="checkbox"]:not(:checked) + label,
      [type="checkbox"]:checked + label {
        position: relative;
        padding-top: 2px;
        cursor: pointer;
        margin-top: 8px;
      }

      [type="checkbox"]:not(:checked) + label:before,
      [type="checkbox"]:checked + label:before,
      [type="checkbox"]:not(:checked) + label:after,
      [type="checkbox"]:checked + label:after {
        content: '';
        position: absolute;
      }

      [type="checkbox"]:not(:checked) + label:before,
      [type="checkbox"]:checked + label:before {
        width: 65px;
        height: 30px;
        background: $color-grey-primary;
        border-radius: 15px;
        left: 130px;
        top: -4px;
        transition: all .2s ease;
      }

      [type="checkbox"]:not(:checked) + label:after,
      [type="checkbox"]:checked + label:after {
        width: 10px;
        height: 10px;
        background: $color-grey-secondary;
        border-radius: 50%;
        top: 6px;
        left: 140px;
        transition: all .2s ease;
      }

      /* on checked */
      [type="checkbox"]:checked + label:before {
        background: $color-secondary;
      }

      [type="checkbox"]:checked + label:after {
        background: #ffffff;
        top: 6px;
        left: 175px;
      }

      [type="checkbox"]:checked + label .ui,
      [type="checkbox"]:not(:checked) + label .ui:before,
      [type="checkbox"]:checked + label .ui:after {
        position: absolute;
        left: 136px;
        width: 65px;
        border-radius: 2px;
        font-size: 14px;
        font-weight: bold;
        line-height: 22px;
        transition: all .2s ease;
      }

      [type="checkbox"]:not(:checked) + label .ui:before {
        content: "NIE";
        left: 162px;
        color: $color-grey;
        top: 0;
      }

      [type="checkbox"]:checked + label .ui:after {
        content: "TAK";
        color: #ffffff;
        left: 6px;
        top: -2px;
      }

      [type="checkbox"]:focus + label:before {
        box-sizing: border-box;
        margin-top: -1px;
      }



    }

    &__header {
      font-family: $font-secondary;
      font-size: 2.25rem;
      font-weight: 600;
      margin-bottom: 35px;

    }


    &__switch {
      display: flex;
      flex-direction: row;
      justify-items: center;
      align-items: center;
      color: $color-grey;
      z-index: 10;

      &--right {
        position: absolute;
        top: 50px;
        right: 50px;
      }

      p {
        margin-right: 10px;
      }

      a {
        &.button {
          border: 1px solid $color-grey;
          padding: 8px 15px;
          font-family: $font-secondary;
          text-transform: uppercase;
          color: $color-grey;
          font-size: 0.875rem;
          font-weight: 600;
          border-radius: 50px;
        }
      }
    }

    button.button {
      border-radius: 50px;
      font-size: 1.25rem;
      padding: 8px 45px;
      margin-top: 30px;
    }

    .special__error {
      font-size: 0.875rem;
      color: $color-error;
      z-index: 99;
      margin: -1px 1px 0 1px;
      padding-top: $space-xsmall;
      position:relative;
    }
  }

  .logo--color {
    display: none;
  }
}



@media only all and (max-width: 800px)  {
  .container {
    flex-direction: column;

    .intro {
      display: none;
    }

    .content {
      width: 100%;
      background: $color-white;

      form {
        padding: 25px;

        .logo__partners {
          display:block;
          margin-top: 50px;
        }
      }

      &__switch {
        &--right {
          right: 20px;

          p {
            display: none;
          }

        }
      }
    }

    h1 {
      display: none;
    }

    .logo--color {
      position: absolute;
      left: 25px;
      top: 47px;
      display: block;
      width: 100px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .logo--white {
      display: none;
    }
  }
}

