@import "variables";
//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";

@mixin button {
  border-radius: $border-radius-circle;
  background: $color-grey-secondary;
  padding: ($space-small - 2px) 1.5*$space-xlarge;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $font-secondary;

  &[disabled=""] {
    opacity: 0.6;
  }
}

.button {
  &--default {
    @include button;
  }

  &--primary {
    @include button;
    background: $color-primary;
    color: $color-white;
    font-size: 0.875rem;
  }

  &--secondary {
    @include button;
    background: $color-secondary;
    color: $color-white;
  }

  &--large {
    padding: $space-small $space-xlarge * 2 !important;
  }

  &--small {
    font-size: 0.825rem !important;
    padding: $space-xsmall $space-xlarge !important;
  }

  &--borderWhite {
    @include button;
    background: transparent;
    border: 1px solid $color-white;
    color: $color-white;
  }

  &--borderBlack {
    @include button;
    border: 1px solid $color-black;
    background: transparent;
  }

  &--borderPrimary {
    @include button;
    border: 1px solid $color-primary;
    color: $color-primary;
    background: transparent;
  }

  &--cancel {
    @include button;
    border: 1px solid $color-grey;
    border-color: $color-grey;
    background: transparent;
    opacity: 0.8;
  }

  & + & {
    margin-left: $space-xsmall;
  }

  fa-icon {
    margin-right: 5px;
  }
}



.form {
  background: $color-grey-secondary;
  margin: -15px;
  padding: $space-default;
  position: relative;

  li {
    display: flex;
    flex-direction: column;
    margin-bottom: $space-default;

  }

  label {
    font-size: 0.875rem;
    display: block;
    margin-bottom: $space-xsmall;

    span {
      color: $color-grey;
      font-style: italic;
      opacity: 0.6;
    }
  }

  input,
  select,
  textarea {
    font-size: 0.875rem;
    padding: 12px 15px;
    background: $color-white;
    border-radius: $border-radius-default;
    font-family: $font-base;

    &+span.error {
        margin-top: $space-xsmall;
    }
  }

  textarea {
    width: calc(100% - 30px);
  }

  input {
    width: calc(100% - 30px);
    position: relative;

    &.error {
      border: 1px solid $color-error;
    }

  }

  .two__columns {
    display: flex;
    flex-direction: row;

    .column {
      flex-basis: 0;
      flex-grow: 1;

      &:first-child {
        margin-right: $space-xsmall;
      }
      &:last-child {
        margin-left: $space-xsmall;
      }
    }
  }

  .half__column {
    width: calc(50% - 5px);
  }

  span.error {
    color: $color-error;
    font-size: 0.75rem;
    display: block;
    margin-bottom: $space-xsmall - 3;
  }

  ul + button {
    position: absolute;
    display: block;
    bottom: -20px;
    left: 34%;
  }

  .datepicker {
    position: relative;
    input {
      z-index: 2;
    }

    button {
      background: url(/../assets/images/ico_calendar.svg) no-repeat;
      width: 20px;
      height: 20px;
      filter: brightness(0);
      position: absolute;
      right: 10px;
      top: 9px;
      z-index: 3;
    }
  }

  .percent {
    position: relative;

    input {
      //padding-right: calc(100%-40px);
    }

    &:after {
      content: ' ';
      background: url(/../assets/images/ico_percent.svg) $color-tertiary no-repeat center;
      height: calc(100% - 2px);
      width: 40px;
      position: absolute;
      z-index: 3;
      right: 0;
      -webkit-border-radius: $border-radius-default;
      -moz-border-radius: $border-radius-default;
      border-radius: $border-radius-default;
      border: 1px solid $color-white;
    }
  }

  .modal__table {
    background: $color-white-50;
    width: 100%;
    border-radius: $border-radius-default;
    margin-bottom: $space-large;

    td {
      border: 1px solid $color-grey-secondary;
      padding: 12px 15px;

      &:first-child {
        font-weight: bold;
        width: 30%;
      }
    }
  }
}

body {
  //overflow: hidden;
}

a {
  color: $color-primary;
  font-weight: normal;
}

.logo {
  width: 188px;
  height: 71px;
  display: block;

  &.logo--white {
    background: url("/../assets/images/logo_s4e_white.png");
  }

  &.logo--color {
    background: url("/../assets/images/logo_s4e_color.png");
  }
}

button > fa-icon.spinner {
  margin-right: 5px;
}

ext-button + ext-button {
  margin-left: 5px;
}

.box-list {
  &__element {
    margin-bottom: 3px;
    position: relative;

    &--radio {
      input[type=radio] {
        position: absolute;
        right: 0;
        top: 0;
        visibility: hidden;
      }

      label {
        display: block;
        cursor: pointer;
        background: url("/../assets/images/ico_check.svg") $color-white no-repeat center;
        background-position-x: calc(100% - 15px);
        background-size: 22px;
        padding: $space-default;
      }

      input[type=radio]:checked ~ label {
        background-color: $color-hover-secondary;
        background-image: url("/../assets/images/ico_checked.svg");
      }

    }

  }


}






