@import "variables";
//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";


/*=====
1. Box
2. List
3. Buttons
4. Various
=======*/

/* 1. Box */

.box__header {
  overflow: auto;
  margin-bottom: $space-small;
}

.box__title {
  font-size: 0.75rem;
  text-transform: uppercase;
  width: 50%;
  float:left;
  color: $color-black;
  font-weight: 500;
}

.box__hint {
  width: 45%;
  float: right;
  font-size: 0.625rem;
  text-align: right;
  color: $color-grey;

  a {
    color: $color-grey;
  }
}

.box__content {
  background: $color-white;
  border-radius: $border-radius-default;
  box-shadow: $shadow-primary;
}


/* 2. List */

.list {
  position: relative;
  padding: $space-default;
}

.list:after {
  border-right: 1px solid $color-grey-secondary;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  right: 54px;

}

.list__item {
  display: flex;
  flex-direction: row;
  margin-bottom: $space-small;
  align-content: center;

  > * {
    align-self: baseline;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.list__name {
  font-size: 0.875rem;
  color: $color-grey;
}

.list__icon {
  overflow: hidden;
  margin: 0 $space-small 0 0;


  img {
    border-radius: 50%;
  }
}

.list--inline {
  .list__item {
    display: inline-block;
  }
}


/* 3. Buttons */

@mixin button {
  border-radius: $border-radius-default;
  background: $color-grey-secondary;
  padding: $space-small $space-xlarge;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $font-secondary

}

.button--default {
  @include button;
}

.button--primary {
  @include button;
  background: $color-primary;
  color: $color-white;
}

.button--secondary {
  @include button;
  background: $color-secondary;
  color: $color-white;
}

.button--large {
  padding: $space-small $space-xlarge * 2;
}

.button--small {
  padding: $space-xsmall;
  font-size: 0.825rem;
}


.button--borderBlack {
  border: 1px solid $color-black
}

/* 4. Various */

body {
  overflow: hidden;
}

a {
  color: $color-primary;
  font-weight: normal;
}

.logo {
  width: 188px;
  height: 71px;
  display: block;

  &.logo--white {
    background: url("/../assets/images/logo_s4e_white.png");
  }

  &.logo--color {
    background: url("/../assets/images/logo_s4e_color.png");
  }
}








