@import "variables";

.zk-options {
  position: absolute;
  right: 10px;
  top: 80px;
  display: block;
  background-color: white;
  width: 300px;
  height: 300px;
  padding: 15px;
  z-index: 30;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.0;
  z-index: 20;
}





.dropdown {

  &__button {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: $border-radius-circle;
    box-shadow: 0 0 35px -10px rgba(0,0,0, 0.3);
    z-index: 1;

    &--zk {
      background: url(/../assets/images/ico_list.svg) $color-white no-repeat center;
      top: 12px;
      right: 150px;
      background-size: 25px;
    }

    &--login, &--loginactive {
      background: url(/../assets/images/ico_user.svg) $color-white no-repeat center;
      top: 12px;
      right: 70px;
      background-size: 20px;
    }

    &--loginactive {
      background-image: url(/../assets/images/ico_user.svg);
    }

    &--product {
      background: url(/../assets/images/ico_info.svg) $color-white no-repeat center;
      top: 12px;
      left: 460px;
      background-size: 10px;

      &.closed {
        left: 70px;
      }
    }

    &--products {
      background: url(/../assets/images/ico_stack.svg) $color-white no-repeat center;
      top: 12px;
      left: 20px;
      background-size: 23px;
      display: none;
    }
  }

  &__content {
    background: $color-white;
    position: absolute;
    top: 9px;
    border-radius: $border-radius-default;
    display: flex;
    flex-direction: column;
    padding: $space-xsmall;
    box-shadow: 0 0 35px -10px rgba(0,0,0, 0.3);
    z-index: 6;

    &--zk {
      right: 148px;
    }

    &--login {
      right: 68px;
      max-width: 500px;
    }

    &--product {
      left: 460px;
      width: 350px;

      &.closed {
        left: 70px;
      }

      .dropdown__header {
        padding: 0;
        padding-left: 55px;

        span {
          text-align: right;
        }
      }

      .dropdown__close {
        left: 0;
      }

      h2 {
        font-size: 1.375;
        font-family: $font-secondary;
        margin: $space-large $space-default;
      }

      p {
        margin: 0;
      }
    }

    section
    {
      display: flex;
      flex-direction: row;
    }

    dl {
      margin: $space-default $space-small;
      display: flex;
      flex-direction: column;

      & + dl {
        padding-left: $space-default;
        border-left: 1px solid $color-grey-secondary;
      }

      dt {
        padding: $space-xsmall $space-default;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 600;
        margin-top: $space-large;

        &:first-child {
          margin-top: 0;
        }
      }

      dd {
        padding: ($space-xsmall - 2px) $space-default;
        line-height: 1.12rem;
        a:not(.button) {
          cursor: pointer;
          color: $color-secondary;
          font-size: 0.875rem;

          &.disabled {
            opacity: 0.4;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__login {
    margin-bottom: $space-xsmall;
    margin-top: auto;

    .button {
      margin-top: $space-xlarge;
      display: block;
      text-align: center;
    }
  }

  &__header {
    background: $color-grey-primary;
    border-radius: $border-radius-circle;
    text-transform: uppercase;
    font-size: 0.75rem;
    color: $color-black;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 ($space-xlarge + 30px) 0 $space-default;

    img {
      margin-right: $space-default;
    }

  }

  &__close {
    background: url(/../../../assets/images/ico_close.svg) $color-white no-repeat center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 3px;
    right: 1px;
    border-radius: $border-radius-circle;
    cursor: pointer;
    background-size: 12px;
  }

  &__description {
    margin: -($space-xsmall);
    margin-top: 0;
    padding: $space-default;
    background: $color-grey-secondary;
    line-height: 1.4;
    font-size: 0.875rem;
  }
}


.sidebar-content {
  //margin-right: -15px;
  //margin-left: -15px;
  overflow-y: auto;
  width: calc(100% - 30px);
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}


.section.map.closed #map{
  left: 0;
  width: 100%;
}

.section.map.open #map {
  left: 390px;
  width: calc(100% - 390px);
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background-color: white;
  opacity: 0.4;
}
