@import "variables";


.modal-header {
  position: relative;
  font-family: $font-secondary;
  font-weigth: bold;
  font-size: 1.25rem;
  margin-bottom: $space-default;

}

.modal-body {

}

.modal-footer {
  padding-top: $space-large;

  button {
    font-size: 0.875rem;
    margin-right: $space-xsmall;
    padding: $space-xsmall $space-xlarge*1.5;
  }


}
