@import "variables";


.modal-footer {
  background: $color-white;
  button {
    font-size: 0.875rem;
    margin-right: $space-xsmall;
    padding: $space-xsmall $space-xlarge*1.5;
  }
}


.report {
  display: flex;
  flex-direction: row-reverse;

  textarea {
    min-height: 247px;
  }

  aside {
    width: 275px;
    margin-left: $space-xlarge;

    strong,
    span {
      font-size: 0.75rem;
      display: block;
      line-height: 1rem;
    }

    strong {
      text-transform: uppercase;
    }

    span {
      color: $color-grey;
    }

    .report-template {
      position: relative;
      margin-top: $space-small;
      margin-bottom: $space-small;
      border-radius: $border-radius-default;
      width: 275px;

      > #map-miniature {
        //object-fit: cover;
        width: 100%;
        //height: 100%;
      }
    }
  }

  &__details {
    padding: $space-small;
    background: $color-tertiary-second;
    border-radius: $border-radius-default;
    margin: $space-small 0;
    line-height: 1rem;
    overflow-wrap: break-word;

    li {
      margin: $space-small 0;
    }

    li:first-child {
      margin-top: 0;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  .form {
    width: 100%;
  }
} // end raport

p {
  margin-bottom: $space-default;
}

h3 {
  margin: $space-xlarge 0 $space-small 0;
  font-size: 1rem;
}

.modal__prev,
.modal__next {
  font-size: 3rem;
  color: $color-white;
  display: block;
  left: -80px;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 45%;

  &[disabled=""] {
    opacity: 0.3;
  }
}

.modal__next {
  right: -80px;
  left: auto;
}


.modal__table {
  th {
    background: $color-tertiary;
    color: $color-grey;
    padding: ($space-default) ($space-large - 3px);
  }

  background: $color-white-50;
  width: 100%;
  border-radius: $border-radius-default;
  margin-bottom: $space-large;

  td {
    border: 1px solid $color-grey-secondary;
    padding: 10px;
    vertical-align: middle;
    word-wrap: anywhere;

    &:first-child {
      font-weight: bold;
      width: 30%;
    }
  }

  &--white {
    td {
      background: $color-white;
      &:first-child {
        font-weight: normal;
        width: unset;
      }
    }
  }
}




