@import "variables";

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background: $color-tertiary;
}

.navigation {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 0 $space-default;
  color: $color-black;
  height: 100%;
  background-size: 140px;
  background: $color-white 40px 40px no-repeat;
  background-image:  url("/../assets/images/logo_s4e_color.png");
  position: absolute;
  z-index: 1;
  justify-content: center;
  font-family: $font-secondary;
  font-weight: bold;

  &__list:first-child {
    margin-top: 150px;
  }

  &__list:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.03);

    li:first-child {
      margin: 0px;
    }

    li {
      padding: 5px;
      a {
        padding-left: 15px;
      }
    }
  }

  &__list {
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 25px;

    li {
      margin: $space-xlarge 0;
      display: block;

      &.active:after {
        background: url("/../assets/images/ico_arrow_right.svg") right no-repeat;
        background-size: 15px;
        padding-right: $space-xlarge;
        content: " ";
        margin-left: $space-xlarge;
      }

      &:hover {
        a {
          color: $color-grey;
        }
      }
    }
  }

  a {
    color: $color-black;
    font-weight: 500;
  }

  .login {
    margin-top: auto;
    align-self: center;
    text-align: center;
    margin-bottom: 25px;
    font-size: 0.875rem;

    button.button {
      font-size: 0.875rem;
      margin-bottom: $space-default;
      border-radius: $border-radius-circle;
    }

    a {
      font-size: 0.75rem;
      text-transform: uppercase;
      font-weight: bold;
      font-family: $font-base;
      color: $color-grey;
    }
  }
}

.content {
  padding: $space-xlarge;
  margin-left: 400px;
  padding-top: 100px;
  color: $color-grey-tertiary;
  width: 100%;
  display: flex;
}

p {
  line-height: 1.25rem;
}

.dashboard {
  display: flex;
  align-content: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: -100px;

  .page__header {
    margin-bottom: $space-xlarge * 3;
    text-align: center;
  }

}

.panel {
  display: flex;
  flex-direction: row;

  &__item {
    margin: $space-xsmall;
    background: $color-white;
    padding: $space-xlarge;
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: $space-xlarge;
    }
  }

  &__header {
    font-weight: 700;
    margin-bottom: $space-small;
    font-size: 1.25rem;
  }

  &__footer {
    margin-top: auto;

    button {
      font-size: 0.875rem;
    }
  }
}

.page__content {
  background: $color-white;
  padding: $space-xlarge;
}

.page__header {
  margin-bottom: $space-xlarge;

  h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: $space-default;
    font-family: $font-secondary;
  }
}

.page__form {

  li {
    margin-bottom: $space-xlarge;
    font-size: 0.875rem;
  }

  .actions {
    margin-bottom: 0;
    margin-top: $space-large;
    padding-top: $space-large;
    border-top: 1px solid $color-grey-secondary;

    & > * {
      margin-right: $space-small;
    }

    a {
      color: $color-grey;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.875rem;
    }
  }

  label {
    display: block;
    font-weight: 500;
    margin-bottom: $space-small;
  }

  input[type=text],
  input[type=email],
  textarea {
    background: $color-tertiary;
    font-size: 0.875rem;
    padding: $space-small;
    border-radius: $border-radius-default;
    width: 50%;
  }

  textarea {
    width: 88%;
    min-height: 250px;
  }


}

table:not(.owl-dt-calendar-table) {
  margin: $space-xlarge 0;
  float: none;
  border-radius: $border-radius-default;
  width: 99%;

  th,
  td {
    text-align: left;
    padding: $space-default $space-large;
  }

  th {
    background: $color-tertiary;
    color: $color-grey;
  }

  td {
    border-bottom: 1px solid $color-grey-secondary;
    span {
      margin-right: $space-small;
    }
  }

  tr:hover {
    background: $color-hover;
  }

  i {
    opacity: 0.5;
    margin-right: $space-default;
  }
}

.list__checkbox {
  margin: $space-default 0;

  li {
    margin-bottom: $space-small;
  }
}

.table-message {
  text-align: center !important;
}

.page__content > table > thead > tr > th:last-child {
  width: 100px;
  text-align: right;
}

.page__content > table > tbody > tr > td:last-child {
  text-align: right;
}

