@media only screen and (min-width: 701px) and (max-width: 1050px){

  .testinfo {
    left: 42% !important;
    width: 150px !important;
  }

  .sidebar {
    &.open {
      display: block !important;
    }

  }

  .timeline {
    width: 100%;
    left: 0;
    margin: 0;
  }

  #map {
    left: 0 !important;
    width: 100% !important;
  }

  .dropdown {
    &__button {

      &--product {
        left: 80px !important;
      }

      &--login,
      &--loginactive{
        right: 70px !important;
      }

      &--zk {
        right: 130px !important;
      }

    }

    &__content {
      &--zk {
        right: 130px !important;
      }

      &--product {
        left: 80px !important;
        width: auto !important;
        right: 5px !important;
      }
    }
  }

  s4e-settings {
    .settings {
      .navigation {

        &__list {
          display: none;
        }

        &__open--mobile {
          display: block !important;
        }

        &--mobile {
          .navigation__list {
            display: flex;
          }
          &.open {
            display: block;
          }
        }
      }

      .dashboard {
        margin-top: 0;
        display: block;
        height: auto;
      }
      .content {
        max-width: 700px;
        min-width: unset;

        &__header {
          margin-bottom: 30px;

          p {
            width: 100%;
          }

          h1 {
            font-size: 2rem;
            margin-top: 40px;
          }
        }

        &__details {
          &--50 {
            width: auto;
          }
        }
      }

      .panel {
        flex-direction: column;
      }
    }
  }

  .modal-dialog {
    width: calc(100% - 50px) !important;
  }
}

@media only all and (max-width: 800px)  {
  .container {
    flex-direction: column;

    .intro {
      display: none;
    }

    .content {
      width: 100%;
      background: $color-white;
      display: flex;

      form {
        padding: 25px;

        .logo__partners {
          display:block;
          margin-top: 50px;
        }
      }

      &__switch {
        &--right {
          right: 20px;

          p {
            display: none;
          }

        }
      }
    }

    h1 {
      display: none;
    }

    .logo--color {
      position: absolute;
      left: 25px;
      top: 47px;
      display: block;
      width: 100px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .logo--white {
      display: none;
    }
  }
}
