@media only screen and (max-width: 700px) {

  .testinfo {
    left: 32% !important;
    max-width: 150px;
  }

  /* MAP */
  .sidebar {

    &:after {
      display: block;
      position: absolute;
      z-index: 1;
      top: -100px;
      height: 100px;
      left: 0;
      bottom: 0;
      right: 0;
      background: $color-black;
      opacity: .3;
      content: " ";

    }

    &.open {
      display: flex !important;
    }
    display: none;
    position: absolute;
    width: auto;
    top: 100px;
    left: 0;
    right: 0;
  }


  .layers,
  .collapse {
    display: none;
  }

  #map {
    left: 0 !important;
    width: 100% !important;
  }

  .ol-zoom {
    display: none;
  }

  .dropdown {
    &__button {
      &--login,
      &--loginactive{
        right: 20px !important;
      }


      &--products {
        display: block;
        z-index: 5 !important;
      }

      &--zk {
        right: 80px !important;
      }

      &--product {
        left: 80px !important;
      }

    }

    &__content {
      &--zk {
        right: 78px !important;
      }

      &--login {
        right: 20px !important;
      }

      &--product {
        left: 80px !important;
        width: auto !important;
        right: 5px !important;
      }
    }
  }


  /* TIMELINE */
  .timeline {

      width: 100%;
      left: 0;
      margin: 0;

    &__manager {

      flex-wrap: wrap;

      & > * {
        margin-bottom: 5px !important;
      }
    }
  }








  /* SETTINGS */

  .settings {

    .navigation {
      .logo {
        width: 100px;
        height: 41px;
        top: 18px;
      }

      &.open {
        display: block !important;
        background: $color-white;
      }

      display: none;
      position: fixed;
      z-index: 10;
      //display: block;
      overflow: auto;
      overflow-x: hidden;
      padding: 80px 0 30px 0;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      height: 100vh;
      width: 100vw;
      box-sizing: border-box;

      &__open--mobile {
        width: 50px;
        height: 50px;
        position: fixed;
        z-index: 100;
        background: url(/../assets/images/ico_menu.svg) $color-white no-repeat center;
        background-size: 25px;
        border-radius: $border-radius-circle;
        box-shadow: $shadow-primary;
        text-indent: -9999px;
        right: 15px;
        top: 10px;
        cursor: pointer;
      }

      .login {
        position: relative;
        bottom: auto;
      }

      &__list {
        &--institution {
          background-color: $color-grey-primary;
          margin: 0 -15px 40px -15px;
          padding: 10px 30px 5px 25px;
        }
      }

    }

    .content {
      margin: 15px;
      padding: 0;
      overflow: visible;

      &__header {
        p {
          width: 100%;
        }

        h1 {
          font-size: 2rem;
          margin-top: 40px;
        }

        .button {
          position: relative;
        }
      }

      &__details {
        padding: 15px 0;

        &--50 {
          width: auto;
        }
      }

      .search {
        margin-left: 103px;
        width: 65%;
        span {
          left: -100px;
        }
      }
    }

    .dashboard {
      display: block;
      margin: 0;
      height: auto;

      .content__header {
          margin-bottom: 30px;
      }
    }

    .panel {
      flex-direction: column;
    }
  }

  .modal-dialog,
  .modal-dialog.modal-lg[_ngcontent-c1] {
    width: 97% !important;
    margin: 5px;
  }


/* AUTH */
.container {
  .content {
    button.button {
      margin-top: 10px;
    }
  }

  .logo__partners {
    margin: 0 auto !important;
  }

  .content__switch {
    &--left {
      bottom: 20px;
      left: 0;
      a {
        width: 100%;
        padding: 15px 20px;
        display: inline-block;
        text-align: center;
        position: fixed;
        color: $color-white;
        background: $color-secondary;

        &:before {
          display: none;
        }
        }
    }
  }
}

/* MODALS */

  .s4e-modal-body.report {
    flex-direction: column-reverse;

    aside {
      margin-left: 0;
      width: 100%;
    }
  }


}
