@media only screen and (max-width: 700px) {

  .testinfo {
    left: 32% !important;
    max-width: 150px;
  }

  /* MAP */
  .sidebar {

    &:after {
      display: block;
      position: absolute;
      z-index: 1;
      top: -100px;
      height: 100px;
      left: 0;
      bottom: 0;
      right: 0;
      background: $color-black;
      opacity: .3;
      content: " ";

    }

    &.open {
      display: flex !important;
    }
    display: none;
    position: absolute;
    width: auto;
    top: 100px;
    left: 0;
    right: 0;
  }


  .layers,
  .collapse {
    display: none;
  }

  #map {
    left: 0 !important;
    width: 100% !important;
  }

  .ol-zoom {
    display: none;
  }

  .dropdown {
    &__button {
      &--login,
      &--loginactive{
        right: 20px !important;
      }


      &--products {
        display: block;
        z-index: 5 !important;
      }

      &--zk {
        right: 80px !important;
      }

      &--product {
        left: 80px !important;
      }

    }

    &__content {
      &--zk {
        right: 78px !important;
      }

      &--login {
        right: 20px !important;
      }

      &--product {
        left: 80px !important;
        width: auto !important;
        right: 5px !important;
      }
    }
  }


  /* TIMELINE */
  .timeline {
      width: 100%;
      left: 0;
      margin: 0;

    &__manager {
      flex-wrap: wrap;

      & > * {
        margin-bottom: 5px !important;
      }
    }
  }

  /* SETTINGS */

  s4e-settings .settings {

    .navigation {
      margin-bottom: 15px;
      padding: 10px 15px;

      .logo {
        display: none;
      }

      &__list {
        display: none;
      }

      &__open--mobile {
        display: block !important;
      }

      &--mobile {
        .navigation__list {
          display: flex;
        }
        &.open {
          display: block;
        }
      }
    }

    .content {
      margin: 0;
      padding: 15px;
      max-width: 100%;
      min-width: unset;
      overflow: visible;

      &__header {
        p {
          width: 100%;
        }

        h1 {
          font-size: 2rem;
          margin-top: 40px;
        }

        .button {
          position: relative;
        }
      }

      &__details {
        max-width: unset;

        &--50 {
          width: auto;
        }
      }

      .search {
        margin-left: 103px;
        width: 65%;
        span {
          left: -100px;
        }
      }

      &__form footer {
        button {
          display: block;
          margin-bottom: $space-default;
          width: 100%;
        }
      }

    }
    .dashboard {
      display: block;
      margin: 0;
      height: auto;

      .content__header {
          margin-bottom: 30px;
      }
    }
    .panel {
      flex-direction: column;

      &__item {

        aside {
        }
        img {
          width: 70px;
        }
      }

      &__content {
        font-size: 0.9rem;

      }

      footer {
        button {
          display: block;
          width: 100%;
        }
        .search {
          margin-left: 0 !important;
          width: 93%;
        }
      }
    }
  } // end settings

  .modal-dialog,
  .modal-dialog.modal-lg[_ngcontent-c1] {
    width: 97% !important;
    margin: 5px;
  }



/* AUTH */
.container {
  .content {
    button.button {
      margin-top: 10px;
    }
  }

  .logo__partners {
    margin: 0 auto !important;
  }

  .content__switch {
    &--left {
      bottom: 20px;
      left: 0;
      a {
        width: 100%;
        padding: 15px 20px;
        display: inline-block;
        text-align: center;
        position: fixed;
        color: $color-white;
        background: $color-secondary;

        &:before {
          display: none;
        }
      }
    }
  }
}

/* MODALS */

  .s4e-modal-body.report {
    flex-direction: column-reverse;

    aside {
      margin-left: 0;
      width: 100%;
    }
  }


}
