.sidebar {
  background: $color-grey-primary;
  -webkit-box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.37);
  box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.37);
  width: $width-sidebar;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  padding: 0 15px;
  box-sizing: padding-box;
  scrollbar-width: thin;
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;

  .switch {
    margin: 0 -15px 15px -15px;
    display: flex;
    flex-direction: row;

    li {
      text-align: center;
      width: 100%;
      text-transform: uppercase;
      padding: 13px 15px;
      background: $color-white;

      a {
        display: block;
      }

      &:first-child.active {
        background: $color-grey-primary;
      }

      &:last-child.active {
        background: $color-grey-secondary;
      }

      a {
        color: $color-grey-tertiary;
        font-family: $font-secondary;
        font-size: 0.875rem;
        font-weight: bold;
        opacity: 0.6;
      }

      &.active {
        a {
          opacity: 1;
        }
      }
    }
  }
}

.search {
  background: #fff;
  box-shadow: $shadow-primary;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: ($space-small +2px) $space-default;
  border-radius: 8px;

  .search__input {
    width: 100%;
    font-size: 0.938rem;

    &::placeholder {
      font-style: italic;
      color: $color-grey;
    }
  }
  .search__button {
    width: 30px;
    margin-left: auto;


    img {
      float:right;
      margin-top: 2px;
    }
  }

  .reset_search_button {
    width: 30px;
    margin-left: auto;
    padding-right: 10px;
    margin-right: 5px;
    position: relative;

    &:before {
      content: " ";
      width: 1px;
      background: $color-grey-secondary;
      position: absolute;
      height: 32px;
      right: 0;
      top: -5px;
      display: block;
      z-index: 2;
    }

    img {
      float:right;
      margin-top: 1px;
    }
  }
}

.searchResults {
  padding: 10px 0;
  background: $color-white;
  border-radius: 0 0 $border-radius-default $border-radius-default;
  border-top: 1px solid $color-grey-secondary;
  z-index: 10;
  width: calc(100% - 30px);
  box-shadow: $shadow-primary;
}

.products-list {
  margin: 0 -15px;
  padding: 0 15px;
  overflow-y: auto;
}


.products {
  display: block;
  background: $color-white;
  border-radius: 8px 8px 0 0;
  border: 1px solid $color-grey-secondary;
  margin-bottom: 30px;

  header {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: $color-black;
    font-weight: 500;
    padding: $space-small $space-default;
    border-bottom: 1px solid $color-grey-secondary;
  }

  &__title {
    padding-left: 30px;
    position: relative;
    font-weight: 600;

    &--satellite:before {
      background-image: url(../assets/images/ico_earth.svg);
    }

    &:before {
      content: " ";
      display: block;
      width: 20px;
      height: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: -2px;
    }
  }

  &__hint {
    width: 45%;
    font-size: 0.625rem;
    text-align: right;
    color: $color-grey;

    a {
      color: $color-grey;
    }
  }

  section {
    padding: $space-default $space-small;
  }

  &__item {
    display: flex;
    flex-direction: row;

    button {
      font-size: 0.875rem;
      padding-top: $space-xsmall;
      padding-bottom: $space-xsmall;
      text-align: left;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .far {
      opacity: .2;
    }
  }

  &__visibility {
    align-self: flex-end;
    margin-left: auto;

    .far {
      opacity: 1;
    }
  }
}



.layers {
  background: $color-grey;
  position: fixed;
  bottom: 0;
  width: $width-sidebar;
  padding: 15px;
  margin: 0 -15px;
  border-top: 3px solid $color-grey-quaternary;
  z-index: 1;

  &:before {
    display: block;
    content: " ";
    background: linear-gradient(to bottom, rgba(249,252,254,0.00) 0%, $color-grey-primary 90%);
    height: 40px;
    width: $width-sidebar + 30px;
    position: absolute;
    left: 0;
    top: -43px;
    zindex: 2
  }

  &:after {
    display: block;
    content: " ";
    width: 23px;
    height: 23px;
    border-radius: $border-radius-circle;
    background: url(../assets/images/ico_drag.svg) no-repeat $color-grey-quaternary center;
    position: absolute;
    top: -12px;
    z-index: 3;
    left: calc(50% - 12px);

  }

  .products {
    &__title {
      padding-left: 0;
      color: $color-white;
      font-size: 0.8rem;
      text-transform: uppercase;

      &:before {
        display: none;
      }
    }
  }

  section {
    background: $color-white;
    border-radius: $border-radius-default;
    padding: $space-small;
    margin-top: $space-small;
  }
}


.list {
  position: relative;
  padding: $space-default;
}

.list__item {
  display: flex;
  flex-direction: row;
  margin-bottom: $space-small;
  align-content: center;

  > * {
    align-self: center;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.active .list__name{
    font-weight: bold;
  }
}

.list__name {
  font-size: 0.875rem;
  color: $color-grey;
  text-align: left;
  margin-right: 15px;
}

.list__icon {
  margin: 0 $space-small 0 0;

  img {
    border-radius: 50%;
  }
}

.list--inline {
  .list__item {
    display: inline-block;

  }
}

.layers {
  .list__item {
    .list__icon {
      display: none;
    }
  }
}

