@import "variables";

.sidebar {
  background: $color-grey-primary;
  -webkit-box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.37);
  box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.37);
  width: #{$width-sidebar + 30px};
  display: flex;
  flex-direction: column;
  z-index: 4;
  box-sizing: padding-box;
  flex: 1 1 auto;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  top: 0;

  .collapse {
    height: 40px;
    width: 40px;
    z-index: 50;
    position: absolute;
    left: 390px;
    top: 0;
    border-radius:  0 $border-radius-default $border-radius-default 0;
    background-color: $color-grey-primary;
    cursor: pointer;

    &:after {
      background: url(/../assets/images/ico_chevron.svg) transparent no-repeat center;
      content: " ";
      width: 30px;
      height: 30px;
      transform: rotate(90deg);
      position: absolute;
      top: 5px;
      left: 5px;
    }

    &.closed {
      &:after {
        transform: rotate(273deg);
      }
    }
  }

  .switch {
    display: flex;
    flex-direction: row;

    li {
      text-align: center;
      width: 100%;
      text-transform: uppercase;
      padding: 13px 15px;
      background: $color-white;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: block;
      }

      &:first-child.active {
        background: $color-grey-primary;
      }

      &:last-child.active {
        background: $color-grey-secondary;
      }

      a {
        color: $color-grey-tertiary;
        font-family: $font-secondary;
        font-size: 0.875rem;
        font-weight: bold;
        opacity: 0.6;
      }

      &.active {
        a {
          opacity: 1;
        }
      }
    }
  }
}

.search {
  background: #fff;
  box-shadow: $shadow-primary;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: ($space-small +2px) $space-default;
  border-radius: 8px;

  .search__input {
    width: 100%;
    font-size: 0.938rem;

    &::placeholder {
      font-style: italic;
      color: $color-grey;
    }
  }
  .search__button {
    width: 30px;
    margin-left: auto;


    img {
      float:right;
      margin-top: 2px;
    }
  }

  .reset_search_button {
    width: 30px;
    margin-left: auto;
    padding-right: 10px;
    margin-right: 5px;
    position: relative;

    &:before {
      content: " ";
      width: 1px;
      background: $color-grey-secondary;
      position: absolute;
      height: 32px;
      right: 0;
      top: -5px;
      display: block;
      z-index: 2;
    }

    img {
      float:right;
      margin-top: 1px;
    }
  }
}

.searchResults {
  padding: 10px 0;
  background: $color-white;
  border-radius: 0 0 $border-radius-default $border-radius-default;
  border-top: 1px solid $color-grey-secondary;
  z-index: 10;
  width: calc(100% - 30px);
  box-shadow: $shadow-primary;
}

.products-list {
  margin: 0 -15px;
  padding: 0 15px;
  overflow-y: auto;
}


.products {
  display: block;
  background: $color-white;
  border-radius: 8px 8px 0 0;
  border: 1px solid $color-grey-secondary;
  margin-bottom: $space-small;

  header {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: $color-black;
    font-weight: 500;
    padding: $space-small $space-default;
    border-bottom: 1px solid $color-grey-secondary;
    position: relative;

    .products__toggle {
      top: 10px;
      width: calc(100% - 33px);
      position: absolute;
      height: 20px;
      cursor: pointer;

      &:before {
        content: " ";
        display: block;
        width: 12px;
        height: 10px;
        right: 0;
        top: 5px;
        position: absolute;
        background: url(/../assets/images/ico_chevron.svg) no-repeat center right;
      }
    }


    &.up  .products__toggle:before{
      transform: rotate(180deg);
    }
  }

  &__title {
    position: relative;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      margin: 0 0 0 15px;
    }
  }

  &__hint {
    width: 45%;
    font-size: 0.625rem;
    text-align: right;
    color: $color-grey;
    display: none;

    a {
      color: $color-grey;
    }
  }

  section {
    padding: $space-default $space-small;
  }

  &__item {
    display: flex;
    flex-direction: row;

    button {
      font-size: 0.875rem;
      padding-top: $space-xsmall;
      padding-bottom: $space-xsmall;
      text-align: left;

      &.active {
        background: $color-grey-secondary;
        border-radius: 8px;
      }
    }



    &:last-child {
      margin-bottom: 0;
    }

    .far {
      opacity: .2;
    }
  }

  &__visibility {
    align-self: flex-end;
    margin-left: auto;

    .far {
      opacity: 1;
    }
  }

  .form {
    background: transparent;
    padding: 0;
    margin: 0;
  }

  .fa-star {
    color: $color-yellow;
  }

  .far.fa-star {
    color: $color-grey-tertiary;
  }

  &--favourite {
    .empty {
      border: 1px dashed $color-grey-quaternary;
      padding: 10px;
      text-align: center;
      font-size: 0.8125rem;
      padding-left: 100px;
      position: relative;
      overflow: hidden;

      &:before {
        content: " ";
        position: absolute;
        left: -20px;
        top: 0;
        background: url(../assets/images/ico_starbig.svg) no-repeat;
        width: 110px;
        height: 100%;
        background-size: contain;
        filter: grayscale(1);
        opacity: 0.2;
        }


      p {
        line-height: 1.4;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

.layers {
  background: $color-grey;
  position: fixed;
  bottom: 0;
  width: $width-sidebar;
  padding: 15px;
  margin: 0 -15px;
  border-top: 3px solid $color-grey-quaternary;
  z-index: 1;

  &:before {
    display: block;
    content: " ";
    background: linear-gradient(to bottom, rgba(249,252,254,0.00) 0%, $color-grey-primary 90%);
    height: 40px;
    width: $width-sidebar + 30px;
    position: absolute;
    left: 0;
    top: -43px;
    zindex: 2
  }

  &:after {
    display: block;
    content: " ";
    width: 23px;
    height: 23px;
    border-radius: $border-radius-circle;
    background: url(../assets/images/ico_drag.svg) no-repeat $color-grey-quaternary center;
    position: absolute;
    top: -12px;
    z-index: 3;
    left: calc(50% - 12px);

  }

  &__manager {
    float: right;
    color: $color-white;
    font-size: 0.8rem;
    text-transform: uppercase;
    opacity: .8;
    margin-top: -1px;
    padding-left: 23px;
    position: relative;

    &:before {
      position: absolute;
      content: " ";
      background: url(../assets/images/ico_cog.svg) no-repeat;
      width: 17px;
      height: 17px;
      background-size: contain;
      left: 0;
      top: -2px;
      filter: grayscale(1);

    }
  }

  .products {
    &__title {
      padding-left: 0;
      color: $color-white;
      font-size: 0.8rem;
      text-transform: uppercase;
      display: block;

      &:before {
        display: none;
      }
    }
  }

  section {
    background: $color-white;
    border-radius: $border-radius-default;
    padding: $space-small;
    margin-top: $space-small;
  }
}


.list {
  position: relative;
  padding: $space-default;
}

.list__item {
  display: flex;
  flex-direction: row;
  margin-bottom: $space-small;
  align-content: center;

  > * {
    align-self: center;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.active .list__name{
    font-weight: bold;
  }
}

.list__name {
  font-size: 0.875rem;
  color: $color-grey;
  text-align: left;
  margin-right: 15px;
}

.list__icon {
  margin: 0 $space-small 0 0;

  img {
    border-radius: 50%;
  }
}

.list--inline {
  .list__item {
    display: inline-block;

  }
}

.layers {
  .list__item {
    .list__icon {
      display: none;
    }
  }
}

.sentinel {
  min-height: calc(100vh - 120px);

  header {
    font-size: 0.875rem;
    margin-bottom: 10px;
    font-weight: bold;
  }

}

