$border-radius-default: 2px;

/*================
===== FONTS ======
================*/

$font-base: 'Ubuntu';

/*================
==== COLORS ======
================*/

$color-white: #fff;
$color-black: #000;

$color-grey: #767675;
$color-grey-primary: #f2f2f2;
$color-grey-secondary: #EDECEC;
$color-primary: #2B74BB;

/*==================
PADDINGS AND MARGINS
==================*/

$space-xlarge: 25px;
$space-large: 20px;
$space-default: 15px;
$space-small: 10px;
$space-xsmall: 5px;


