$border-radius-default: 5px;
$border-radius-circle: 50px;

/*================
===== FONTS ======
================*/

$font-base: 'Roboto', sans-serif;
$font-secondary: 'Titillium Web', sans-serif;

/*================
==== COLORS ======
================*/

$color-white: #fff;
$color-black: #000;



$color-grey: #4F4F4F;
$color-grey-primary: #F5F5F5;
$color-grey-secondary: #D8DDE0;
$color-grey-tertiary: #41414C;
$color-primary: #8AC854;
$color-primary-darker: #67A630;
$color-secondary: #2B74BB;
$color-tertiary: #F2F7FA;
$color-tertiary-second: #F6F6F6;
$color-hover: #fffac9;

$color-error: #BA4343;


/*==================
PADDINGS AND MARGINS
==================*/

$space-xlarge: 25px;
$space-large: 20px;
$space-default: 15px;
$space-small: 10px;
$space-xsmall: 5px;


$shadow-primary: 0 2px 4px rgba(0,0,0,0.1);


