/* You can add global styles to this file, and also import other style files */
@import "_bootstrap-variables";
@import "~bootstrap/scss/bootstrap";
@import "bootstrap-view";

.ng-touched.ng-invalid {
  @extend .is-invalid;
}

.ol-zoom {
  right: 9px !important;
  left: auto;
}

.ol-rotate {
  display: none;
}
