/* You can add global styles to this file, and also import other style files */
@import "reset";
@import "fonts";
@import "variables";
@import "common";
//@import "~bootstrap/scss/bootstrap";




:root, body {
  font-size: 16px;
  font-family: $font-base, sans-serif;
}

.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

//
//.ng-touched.ng-invalid {
//  @extend .is-invalid;
//}

.ol-zoom {
  right: 9px !important;
  left: auto;
}

.ol-rotate {
  display: none;
}
