
<p *ngIf="(isLoggedIn$ | async); else loginForm">
  Email: {{userEmail$ | async}}
  <a routerLink="/profile" class="btn btn-primary" i18n>Profile</a>
  <button (click)="logout()" class="btn btn-primary" i18n>Wyloguj</button>
</p>

<ng-template #loginForm>
  <form (ngSubmit)="login()" [formGroup]="form">
    <input type="email" formControlName="email" name="email" i18n-placeholder placeholder="Email"/>
    <input type="password" formControlName="password" name="password" i18n-placeholder placeholder="Password"/>
    <button type="submit" class="btn btn-primary" i18n [disabled]="$loading | async">Zaloguj</button>
  </form>
</ng-template>
