:host {
  background-color: white;
  padding: 15px;
  display: block;
}

.close {
  position: absolute;
  right: 0;
  top: -5px;
}

.modal-header {
  position: relative;
  margin-bottom: 10px;

  .modal-title {
    margin-top: 4px;
  }
}

.modal-body {

}
