@import "../../../../scss/variables";


:host {
  background-color: $color-white;
  padding: $space-large;
  display: block;
  border-radius: $border-radius-default;
  margin-bottom: $space-large;
  font-size: 1rem;
  line-height: 1.35rem;
  font-weight: normal;;
  background: $color-grey-secondary;
}

.close {
  position: absolute;
  right: 0;
  top: -5px;
}


