@import "../../../../scss/variables";


:host {
  background-color: $color-white;
  padding: $space-large;
  display: block;
  border-radius: $border-radius-default;
}

.close {
  position: absolute;
  right: 0;
  top: -5px;
}


