<s4e-tiles-dashboard>
  <h1 dashboard-title>Witamy w panelu administratora Sat4Envi</h1>
  <p dashboard-description>
    Jesteś administratorem zasobów i dostępów Sat4Envi w Urzędzie Miasta <br />
    Zobacz jakie masz uprawnienia:
  </p>
  <ng-container dashboard-tiles>
    <s4e-tile>
      <img src="./assets/images/ico_people.svg" alt="Ikona ludzi" width="50" tile-image />
      <header class="panel__header" tile-title>Ludzie</header>
      <p i18n tile-description>Panel służy do zarządzania osobami, które są pracownikami lub współpracownikami instytucji.</p>
      <button
        routerLink="../people"
        queryParamsHandling="merge"
        class="button button--secondary"
        [disabled]="!(isInstitutionActive$ | async)"
        footer-navigation
      >
        Zarządzaj ludźmi
      </button>
    </s4e-tile>

    <s4e-tile>
      <img src="./assets/images/ico_institution.svg" alt="Ikona ludzi" width="50" tile-image />
      <header class="panel__header" tile-title>Profil instytucji</header>
      <p i18n tile-description>To instytucja, której jesteś administratorem. Możesz edytować tam podstawowe informacje.</p>
      <button
        routerLink="../institution"
        queryParamsHandling="merge"
        class="button button--secondary"
        [disabled]="!(isInstitutionActive$ | async)"
        footer-navigation
      >
        Zobacz profil
      </button>
    </s4e-tile>
  </ng-container>
</s4e-tiles-dashboard>
